<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>{TFM}</TargetFramework>
    <RuntimeIdentifiers>{RIDs}</RuntimeIdentifiers>
    <TestPackageId>{PackageId}</TestPackageId>
    <TestPackageVersion>{PackageVersion}</TestPackageVersion>
    <!-- Turn off end of life target framework checks as we intentionally build older .NETCoreApp configurations. -->
    <CheckEolTargetFramework>false</CheckEolTargetFramework>
    <NETCoreAppMaximumVersion>99.0</NETCoreAppMaximumVersion>

    <!-- Suppress any SYSLIB9000 errors, as in these cases restore/build would succeed, the failure would be at run-time -->
    <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings>
    <SupportFilesDir Condition="'$(SupportFilesDir)' == ''">$([MSBuild]::GetDirectoryNameOfFileAbove($(MSBuildThisFileDirectory), Directory.Build.props))\support</SupportFilesDir>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="{PackageId}" Version="{PackageVersion}" />
  </ItemGroup>

  <Import Project="$(SupportFilesDir)\packageTest.targets" />
</Project>
