<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <CoreRuntimeSDKRoot[AppxBuildArch]>$(MSBuildThisFileDirectory)..\tools</CoreRuntimeSDKRoot[AppxBuildArch]>
    <CopyWin32Resources[AppxBuildArch]Path>$(MSBuildThisFileDirectory)..\tools\CoreRuntime\copywin32resources.exe</CopyWin32Resources[AppxBuildArch]Path>
  </PropertyGroup>
</Project>
