<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "..\Variables.wxi" ?>
  <Fragment>
    <!-- Set registry keys to allow WER to generate correct dumps. -->
    <Component Id="BreadcrumbStoreFolder" Directory="BreadcrumbStore" Guid="{DA957490-EA59-42B9-B9D6-3E80F6FB0ED0}">
      <CreateFolder Directory="BreadcrumbStore">
        <Permission
          User="Everyone"
          CreateChild="no"
          CreateFile="yes"
          Delete="no"
          DeleteChild="no"
          Read="yes"
          ReadAttributes="yes"
          ReadExtendedAttributes="yes"
          ReadPermission="yes"
          Traverse="yes" />
        <Permission
          User="SYSTEM"
          GenericAll="yes" />
        <Permission
          User="Administrators"
          GenericAll="yes" />
      </CreateFolder>
    </Component>

    <DirectoryRef Id="TARGETDIR">
      <Directory Id="CommonAppDataFolder">
        <Directory Id="MicrosoftCommonAppData" Name="Microsoft">
          <Directory Id="NetFrameworkCommonAppData" Name="NetFramework">
            <Directory Id="BreadcrumbStore" Name="BreadcrumbStore" />
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
