<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include "$(var.SharedWixDir)\variables.wxi" ?>

  <Fragment>

    <ComponentGroup Id="InstallSharedHostandDetectionKeys">

      <Component Id="cmpCoreHost" Directory="DOTNETHOME" Guid="{45399BBB-DDA5-4386-A2E9-618FB3C54A18}" >
        <File Id="fileCoreHostExe" KeyPath="yes" Source="$(var.HostSrc)\dotnet.exe" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)\sharedhost">
          <RegistryValue Action="write" Name="Version" Type="string" Value="$(var.NugetVersion)"/>
        </RegistryKey>
        <Environment Id="E_PATH" Name="PATH" Value="[DOTNETHOME]" Part="last" Action="set" System="yes" />
      </Component>

      <Component Id="cmpLicenseFiles" Directory="DOTNETHOME" Guid="{A61CBE5B-1282-4F29-90AD-63597AA2372E}">
        <File Id="fileLicenseTxt" KeyPath="yes" Source="$(var.HostSrc)\LICENSE.txt" />
        <File Id="fileThirdPartyNoticesTxt" Source="$(var.HostSrc)\ThirdPartyNotices.txt" />
      </Component>

    </ComponentGroup>

    <Property Id="ProductCPU" Value="$(var.Platform)" />
    <Property Id="RTM_ProductVersion" Value="$(var.Dotnet_ProductVersion)" />

  </Fragment>

</Wix>
