// Licensed to the .NET Foundation under one or more agreements.
// The .NET Foundation licenses this file to you under the MIT license.
// See the LICENSE file in the project root for more information.
#include "nativeres.h"

#ifdef FEATURE_FUSION

STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_NGEN_BIND_IL_PROVIDED                   L"LOG: IL assembly loaded from %ws." 
    ID_FUSLOG_NGEN_BIND_LOADFROM_NOT_ALLOWED          L"WRN: Native image will not be probed in LoadFrom context. Native image will only be probed in default load context, like with Assembly.Load()."
    ID_FUSLOG_NGEN_BIND_SUCCESS                       L"LOG: Bind to native image succeeded."
    ID_FUSLOG_NGEN_BIND_FAIL                          L"ERR: Error encountered when binding to native image assembly. (hr = 0x%x)."
    ID_FUSLOG_NGEN_BIND_NO_MATCH                      L"WRN: No matching native image found."
    ID_FUSLOG_NGEN_BIND_NGEN_REJECT_CONFIG_MASK       L"WRN: Native image compile options do not match request. Looking for next native image."
    ID_FUSLOG_NGEN_BIND_NI_DEPEND_START               L"LOG: [Level %d]Start validating native image dependency %ws."
    ID_FUSLOG_NGEN_BIND_IL_DEPEND_START               L"LOG: [Level %d]Start validating IL dependency %ws."
    ID_FUSLOG_NGEN_BIND_VALIDATE_DEPENDENCIES         L"LOG: Start validating all the dependencies."
    ID_FUSLOG_NGEN_BIND_VALIDATE_DEPENDENCIES_SUCCESS L"LOG: Validation of dependencies succeeded."
    ID_FUSLOG_NGEN_BIND_REJECT_IL_NOT_FOUND           L"WRN: Cannot load IL assembly. (hr = 0x%x)."
    ID_FUSLOG_NGEN_BIND_MISSING_FOUND                 L"WRN: Dependency assembly was not found at ngen time, but is found at binding time. Disallow using this native image."
    ID_FUSLOG_NGEN_BIND_AUXCORRUPTION_GENERAL         L"ERR: Rejecting native image due to corrupted or missing .aux file (%ws)."
    ID_FUSLOG_NGEN_BIND_AUX_REOPTIMIZED               L"LOG: Successfully updated stale timestamp in .aux file (%ws)."
    ID_FUSLOG_NGEN_BIND_REJECT_SIG                    L"WRN: Signature of the IL assembly does not match record in .aux file. Validation stops."
    ID_FUSLOG_NGEN_BIND_REJECT_TP                     L"WRN: TPBand of the IL assembly does not match record in .aux file. Validation stops."
    ID_FUSLOG_NGEN_BIND_REJECT_TIMESTAMP_SIGFALLBACK  L"WRN: Timestamp of the IL assembly does not match record in .aux file. Loading IL to compare signature."
    ID_FUSLOG_NGEN_BIND_REJECT_TIMESTAMP_TPFALLBACK   L"WRN: Timestamp of the IL assembly does not match record in .aux file. Loading IL to compare TPBand."
    ID_FUSLOG_NGEN_BIND_CHANGED_BINDING_POLICY        L"WRN: Assembly resolved to a different version or identity than expected. Check if binding policy changed since native image built."
    ID_FUSLOG_NGEN_BIND_REJECT_OPTOUT                 L"WRN: The application has opted out of using native images for this assembly."
END

#endif // FEATURE_FUSION
