# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/src/libraries/Common/src/System/Net/Http/aspnetcore/               @dotnet/http
/src/libraries/Common/tests/Tests/System/Net/aspnetcore/            @dotnet/http
/src/libraries/System.Text.Json/                                    @steveharter @layomia @Jozkee @eiriktsarpalis

# CoreCLR Code Owners

/src/coreclr/inc/corinfo.h @dotnet/jit-contrib
/src/coreclr/inc/corjit.h @dotnet/jit-contrib
/src/coreclr/jit/ @dotnet/jit-contrib

# Mono Code Owners

/src/mono @marek-safar

/src/mono/llvm @vargaz @SamMonoRT @imhameed @EgorBo

/src/mono/mono/arch @vargaz
/src/mono/mono/eglib @vargaz @lambdageek @CoffeeFlux

/src/mono/mono/metadata @vargaz @lambdageek @thaystg @CoffeeFlux
/src/mono/mono/metadata/*-win* @lateralusX @lambdageek @CoffeeFlux
/src/mono/mono/metadata/handle* @lambdageek @vargaz
/src/mono/mono/metadata/monitor* @brzvlad @vargaz
/src/mono/mono/metadata/sgen* @brzvlad @vargaz @naricc
/src/mono/mono/metadata/thread* @lateralusX @lambdageek
/src/mono/mono/metadata/w32* @lateralusX @lambdageek @CoffeeFlux

/src/mono/mono/mini @vargaz @lambdageek @SamMonoRT @CoffeeFlux @imhameed
/src/mono/mono/mini/*cfgdump* @vargaz
/src/mono/mono/mini/*exceptions* @vargaz @BrzVlad @imhameed
/src/mono/mono/mini/*llvm* @vargaz @imhameed @EgorBo
/src/mono/mono/mini/*ppc* @vargaz
/src/mono/mono/mini/*profiler* @BrzVlad @lambdageek
/src/mono/mono/mini/*riscv* @alexrp
/src/mono/mono/mini/*type-check* @lambdageek
/src/mono/mono/mini/debugger-agent.c @vargaz @thaystg @lambdageek
/src/mono/mono/mini/interp/* @BrzVlad @vargaz

/src/mono/mono/profiler @BrzVlad @lambdageek
/src/mono/mono/sgen @BrzVlad @lambdageek @naricc

/src/mono/mono/utils @vargaz @lambdageek @CoffeeFlux
/src/mono/mono/utils/*-win* @lateralusX @lambdageek @CoffeeFlux
/src/mono/mono/utils/atomic* @vargaz
/src/mono/mono/utils/mono-hwcap* @vargaz
/src/mono/mono/utils/mono-mem* @vargaz
/src/mono/mono/utils/mono-merp* @lambdageek @naricc @imhameed
/src/mono/mono/utils/mono-state* @lambdageek
/src/mono/mono/utils/mono-threads* @lambdageek @vargaz

/src/mono/dlls @thaystg @lambdageek

/src/mono/netcore @marek-safar @akoeplinger @vargaz @steveisok
