# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/src/libraries/Common/src/Interop/                                  @dotnet/platform-deps-team
/src/libraries/Common/src/System/Net/Http/aspnetcore/               @dotnet/http
/src/libraries/Common/tests/Tests/System/Net/aspnetcore/            @dotnet/http

# CoreCLR Code Owners

/src/coreclr/inc/corinfo.h @dotnet/jit-contrib
/src/coreclr/inc/corjit.h @dotnet/jit-contrib
/src/coreclr/jit/ @dotnet/jit-contrib
/src/coreclr/nativeaot @MichalStrehovsky
/src/coreclr/tools/Common @dotnet/crossgen-contrib @MichalStrehovsky
/src/coreclr/tools/aot @dotnet/crossgen-contrib
/src/coreclr/tools/aot/ILCompiler.Compiler @MichalStrehovsky
/src/coreclr/tools/aot/ILCompiler.RyuJit @MichalStrehovsky
/src/coreclr/tools/aot/ILCompiler.MetadataTransform @MichalStrehovsky

# Mono Code Owners

/src/mono @marek-safar

/src/mono/llvm @vargaz @SamMonoRT

/src/mono/mono/arch @vargaz
/src/mono/mono/eglib @vargaz @lambdageek

/src/mono/mono/metadata @vargaz @lambdageek @thaystg
/src/mono/mono/metadata/*-win* @lateralusX @lambdageek
/src/mono/mono/metadata/handle* @lambdageek @vargaz
/src/mono/mono/metadata/monitor* @brzvlad @vargaz
/src/mono/mono/metadata/sgen* @brzvlad @vargaz @naricc
/src/mono/mono/metadata/thread* @lateralusX @lambdageek
/src/mono/mono/metadata/w32* @lateralusX @lambdageek

/src/mono/mono/eventpipe @lateralusX @lambdageek

/src/mono/mono/mini @vargaz @lambdageek @SamMonoRT
/src/mono/mono/mini/*cfgdump* @vargaz
/src/mono/mono/mini/*exceptions* @vargaz @BrzVlad
/src/mono/mono/mini/*llvm* @vargaz
/src/mono/mono/mini/*ppc* @vargaz
/src/mono/mono/mini/*profiler* @BrzVlad @lambdageek
/src/mono/mono/mini/*riscv* @vargaz @lambdageek
/src/mono/mono/mini/*type-check* @lambdageek
/src/mono/mono/mini/debugger-agent.c @vargaz @thaystg @lambdageek
/src/mono/mono/mini/interp/* @BrzVlad @vargaz

/src/mono/mono/profiler @BrzVlad @lambdageek
/src/mono/mono/sgen @BrzVlad @lambdageek @naricc

/src/mono/mono/utils @vargaz @lambdageek
/src/mono/mono/utils/*-win* @lateralusX @lambdageek
/src/mono/mono/utils/atomic* @vargaz
/src/mono/mono/utils/mono-hwcap* @vargaz
/src/mono/mono/utils/mono-mem* @vargaz
/src/mono/mono/utils/mono-threads* @lambdageek @vargaz

/src/mono/dlls @thaystg @lambdageek

/src/native/public/mono @marek-safar @lambdageek

/src/libraries/sendtohelix-wasm.targets @radical
/src/mono/wasm @lewing @pavelsavara
/src/mono/wasm/debugger @thaystg @radical
/src/mono/wasm/build @radical
/src/mono/sample/wasm @lewing @pavelsavara
/src/libraries/System.Runtime.InteropServices.JavaScript @lewing @pavelsavara

/src/mono/nuget/*WebAssembly*/ @lewing @radical
/src/mono/nuget/*MonoTargets*/ @lewing @radical
/src/mono/nuget/*BrowserDebugHost*/ @lewing @radical
/src/mono/nuget/*Workload.Mono.Toolchain*/ @lewing @radical
/src/mono/nuget/*MonoAOTCompiler*/ @lewing @radical

/src/tests/BuildWasmApps/ @radical
/src/tasks/WasmAppBuilder/ @radical
/src/tasks/WorkloadBuildTasks/ @radical
/src/tasks/AotCompilerTask/ @radical
/src/tasks/WasmBuildTasks/ @radical

/eng/pipelines/**/*wasm* @radical

# Obsoletions / Custom Diagnostics

/docs/project/list-of-diagnostics.md                @jeffhandley
/src/libraries/Common/src/System/Obsoletions.cs     @jeffhandley
