# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/src/libraries/Common/src/System/Net/Http/aspnetcore/               @dotnet/http
/src/libraries/Common/tests/Tests/System/Net/aspnetcore/            @dotnet/http
/src/libraries/System.Text.Json/                                    @ahsonkhan @steveharter @layomia @Jozkee
/src/libraries/System.Buffers/                                      @ahsonkhan
/src/libraries/System.Memory/                                       @ahsonkhan

# CoreCLR Code Owners

/src/coreclr/src/inc/corinfo.h @dotnet/jit-contrib
/src/coreclr/src/inc/corjit.h @dotnet/jit-contrib
/src/coreclr/src/jit/ @dotnet/jit-contrib

# Mono Code Owners

/src/mono @marek-safar

/src/mono/llvm @vargaz @SamMonoRT @imhameed @EgorBo

/src/mono/mono/arch @vargaz @lewurm
/src/mono/mono/benchmark @SamMonoRT @lewurm
/src/mono/mono/dis @lambdageek @vargaz
/src/mono/mono/eglib @vargaz @lambdageek @CoffeeFlux @lewurm

/src/mono/mono/metadata @vargaz @lambdageek @thaystg @CoffeeFlux @lewurm @alexischr
/src/mono/mono/metadata/*-win* @lateralusX @lambdageek @CoffeeFlux
/src/mono/mono/metadata/handle* @lambdageek @vargaz
/src/mono/mono/metadata/monitor* @brzvlad @vargaz
/src/mono/mono/metadata/sgen* @brzvlad @vargaz @naricc
/src/mono/mono/metadata/thread* @lateralusX @lambdageek
/src/mono/mono/metadata/w32* @lateralusX @lambdageek @CoffeeFlux

/src/mono/mono/mini @vargaz @lewurm @lambdageek @SamMonoRT @CoffeeFlux @alexischr
/src/mono/mono/mini/*cfgdump* @lewurm @vargaz
/src/mono/mono/mini/*exceptions* @lewurm @vargaz @BrzVlad
/src/mono/mono/mini/*llvm* @vargaz @imhameed @EgorBo
/src/mono/mono/mini/*ppc* @lewurm @vargaz
/src/mono/mono/mini/*profiler* @BrzVlad @lambdageek
/src/mono/mono/mini/*riscv* @alexrp @lewurm
/src/mono/mono/mini/*type-check* @lewurm @lambdageek
/src/mono/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas @lambdageek
/src/mono/mono/mini/interp/* @lewurm @BrzVlad

/src/mono/mono/native @baulig @egorbo @alexischr @marek-safar
/src/mono/mono/profiler @BrzVlad @lambdageek
/src/mono/mono/sgen @BrzVlad @lambdageek

/src/mono/mono/utils @vargaz @lewurm @lambdageek @CoffeeFlux @alexischr
/src/mono/mono/utils/*-win* @lateralusX @lambdageek @CoffeeFlux
/src/mono/mono/utils/atomic* @lewurm @vargaz
/src/mono/mono/utils/mono-hwcap* @lewurm @vargaz
/src/mono/mono/utils/mono-mem* @lewurm @vargaz
/src/mono/mono/utils/mono-merp* @alexischr @lambdageek
/src/mono/mono/utils/mono-state* @alexischr @lambdageek
/src/mono/mono/utils/mono-threads* @lambdageek @vargaz

/src/mono/msvc @lateralusX @kg @akoeplinger
/src/mono/msvc/scripts @akoeplinger @kg

/src/mono/netcore @marek-safar @akoeplinger @egorbo @vargaz @steveisok
