<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="1.0.39" targetFramework="net461" />
  <package id="Microsoft.DotNet.xunit.performance" version="1.0.0-alpha-build0030" targetFramework="net461" />
  <package id="Microsoft.DotNet.xunit.performance.metrics" version="1.0.0-alpha-build0030" targetFramework="net461" />
  <package id="System.Collections" version="4.0.10" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.10" targetFramework="net461" />
  <package id="System.Diagnostics.Tracing" version="4.0.20" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.10" targetFramework="net461" />
  <package id="System.IO" version="4.0.10" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.0.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.0" targetFramework="net461" />
  <package id="System.Linq" version="4.0.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.0.10" targetFramework="net461" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net461" />
  <package id="System.Runtime.Handles" version="4.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding" version="4.0.10" targetFramework="net461" />
  <package id="System.Threading" version="4.0.10" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.0.10" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net461" />
</packages>