#
# Reference: https://help.github.com/articles/about-codeowners
#

# the default owners for everything in the repo.
* @marek-safar

/analyzer @radekdoulik
/corebuild @sbomer
/linker @marek-safar @mrvoorhe

netci.groovy @sbomer
