#
# Reference: https://help.github.com/articles/about-codeowners
#

# the default owners for everything in the repo.
* @marek-safar

/src/analyzer @radekdoulik
/corebuild @sbomer
/src/linker @marek-safar @mrvoorhe
/test @marek-safar @mrvoorhe

netci.groovy @sbomer
