<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <?include "$(var.SharedWixDir)\variables.wxi" ?>

  <Fragment>

    <ComponentGroup Id="InstallSharedHostandDetectionKeys">

      <!-- When installing the SharedHost; copy all files to the traditional default install location: 'ProgramFiles'\dotnet even when installing into a custom location.

      User Scenerio:
      When a user has installed a 2.1 SDK or similar SDK first so that the PATH environmental variable has 'ProgramFiles'\dotnet in a first position.
      Then the user installs a 3.0 SDK thru VS to a different volume with VS so that 'VSSharedVolume'\dotnet is in a second position.
      We want the 3.0 SharedHost to be on the PATH in the first position. Therefore, installing the SharedHost to both 'VSSharedVolume'\dotnet and
      'ProgramFiles'\dotnet will achieve this.

      On a 'clean' machine when installing into a custom location; the installation behavior is the same.
      Rationale:
        1. the legacy SDK can be subsequently installed
        2. the user runs 'dotnet' commands directly against 'ProgramFiles'\dotnet\dotnet.exe -->

      <Component Id="cmpCoreHost" Directory="DOTNETHOME" Guid="{45399BBB-DDA5-4386-A2E9-618FB3C54A18}">
        <File Id="fileCoreHostExe" KeyPath="yes" Source="$(var.HostSrc)\dotnet.exe">
          <CopyFile Id="copyFileCoreHostExe" DestinationDirectory="PROGRAMFILES_DOTNET" />
        </File>
      </Component>
        
      <Component Id="cmpSharedHostVersionRegistry" Directory="DOTNETHOME">
        <RegistryKey Root="HKLM" Key="SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)\sharedhost">
          <RegistryValue KeyPath="yes" Action="write" Name="Version" Type="string" Value="$(var.NugetVersion)"/>
        </RegistryKey>
      </Component>

      <Component Id="cmpInstallLocation" Directory="TARGETDIR" Bitness="always32">
        <RegistryKey Root="HKLM" Key="SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)">
          <RegistryValue Action="write" Name="InstallLocation" Type="string" Value="[DOTNETHOME]" KeyPath="yes"/>
        </RegistryKey>
      </Component>

      <?if $(var.Platform)~=x64 ?>
        <!-- For x64 installer, only add the sharedhost key when actually on native architecture. -->
        <Component Id="cmpPath" Directory="DOTNETHOME" Condition="NOT NON_NATIVE_ARCHITECTURE">
          <!-- A stable keypath with the right SxS characteristics for our PATH entry-->
          <RegistryKey Root="HKLM" Key="SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)\sharedhost">
            <RegistryValue KeyPath="yes" Action="write" Name="Path" Type="string" Value="[DOTNETHOME]"/>
          </RegistryKey>
        </Component>
      <?elseif $(var.Platform)~=x86 ?>
        <!-- For x86 installer, only add the key when not on 64-bit platform. -->
        <Component Id="cmpPath" Directory="DOTNETHOME" Condition="NOT VersionNT64">
          <!-- A stable keypath with the right SxS characteristics for our PATH entry-->
          <RegistryKey Root="HKLM" Key="SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)\sharedhost">
            <RegistryValue KeyPath="yes" Action="write" Name="Path" Type="string" Value="[DOTNETHOME]"/>
          </RegistryKey>
        </Component>
      <?else?>
        <Component Id="cmpPath" Directory="DOTNETHOME">
          <!-- A stable keypath with the right SxS characteristics for our PATH entry-->
          <RegistryKey Root="HKLM" Key="SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)\sharedhost">
            <RegistryValue KeyPath="yes" Action="write" Name="Path" Type="string" Value="[DOTNETHOME]"/>
          </RegistryKey>
        </Component>
      <?endif?>

      <Component Id="cmpLicenseFiles" Directory="DOTNETHOME" Guid="{A61CBE5B-1282-4F29-90AD-63597AA2372E}">
        <File Id="fileLicenseTxt" KeyPath="yes" Source="$(var.HostSrc)\LICENSE.txt">
          <CopyFile Id="copyFileLicenseTxt" DestinationDirectory="PROGRAMFILES_DOTNET" />
        </File>
        <File Id="fileThirdPartyNoticesTxt" Source="$(var.HostSrc)\ThirdPartyNotices.txt">
          <CopyFile Id="copyFileThirdPartyNoticesTxt" DestinationDirectory="PROGRAMFILES_DOTNET" />
        </File>
      </Component>

      <ComponentRef Id="cmpSetPath" />
    </ComponentGroup>

    <Property Id="ProductCPU" Value="$(var.Platform)" />
    <Property Id="RTM_ProductVersion" Value="$(var.Dotnet_ProductVersion)" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="PROGRAMFILES_DOTNET" Name="dotnet" />
    </StandardDirectory>
    
    <?if $(var.Platform)~=x64 ?>
    <CustomActionRef Id="Set_PROGRAMFILES_DOTNET_NON_NATIVE_ARCHITECTURE" />
    <?endif?>
  </Fragment>

  <Fragment>
    <Property Id="DISABLE_SETTING_HOST_PATH" Secure="yes">
      <RegistrySearch Id="DisableSettingHostPathSearch" Root="HKLM" Key="SOFTWARE\Microsoft\.NET" Type="raw" Name="DisableSettingHostPath" />
    </Property>

    <?if $(var.Platform)~=x64 ?>
      <Component Id="cmpSetPath" Guid="{0B910ED8-0877-473D-8658-647382324433}" Directory="DOTNETHOME" Condition="DISABLE_SETTING_HOST_PATH &lt;&gt; &quot;#1&quot; AND NOT NON_NATIVE_ARCHITECTURE">
        <CreateFolder />
        <Environment Id="E_PATH" Name="PATH" Value="[DOTNETHOME]" Part="last" Action="set" System="yes" />
      </Component>
    <?elseif $(var.Platform)~=x86 ?>
      <Component Id="cmpSetPath" Guid="{0B910ED8-0877-473D-8658-647382324433}" Directory="DOTNETHOME" Condition="DISABLE_SETTING_HOST_PATH &lt;&gt; &quot;#1&quot; AND NOT VersionNT64">
        <CreateFolder />
        <Environment Id="E_PATH" Name="PATH" Value="[DOTNETHOME]" Part="last" Action="set" System="yes" />
      </Component>
    <?else?>
      <Component Id="cmpSetPath" Guid="{0B910ED8-0877-473D-8658-647382324433}" Directory="DOTNETHOME">
        <CreateFolder />
        <Environment Id="E_PATH" Name="PATH" Value="[DOTNETHOME]" Part="last" Action="set" System="yes" />
      </Component>
    <?endif?>

    <util:BroadcastEnvironmentChange Action="set" Sequence="afterInstallFinalize" />

    <InstallExecuteSequence>
      <?if $(var.Platform)~=x64 ?>
        <Custom Action="override Wix4BroadcastEnvironmentChange_X64" After="InstallFinalize" Condition="DISABLE_SETTING_HOST_PATH &lt;&gt; &quot;#1&quot;"/>
      <?elseif $(var.Platform)~=x86 ?>
        <Custom Action="override Wix4BroadcastEnvironmentChange_X86" After="InstallFinalize" Condition="DISABLE_SETTING_HOST_PATH &lt;&gt; &quot;#1&quot;"/>
      <?elseif $(var.Platform)~=arm64 ?>
        <Custom Action="override Wix4BroadcastEnvironmentChange_A64" After="InstallFinalize" Condition="DISABLE_SETTING_HOST_PATH &lt;&gt; &quot;#1&quot;"/>
      <?else?>
        <?error Unknown platform, $(var.Platform) ?>
      <?endif?>
    </InstallExecuteSequence>
  </Fragment>
  
  <Fragment>
    <!-- Unlike DOTNETHOME which gives precedence to a user specified value over an x64 suffix, here we always want the suffixed path -->
    <SetProperty Action="Set_PROGRAMFILES_DOTNET_NON_NATIVE_ARCHITECTURE" Id="PROGRAMFILES_DOTNET" Value="[ProgramFiles6432Folder]dotnet\x64\" After="Set_NON_NATIVE_ARCHITECTURE" Condition="NON_NATIVE_ARCHITECTURE" />
  </Fragment>
</Wix>