#
# Reference: https://help.github.com/articles/about-codeowners
#

# the default owners for everything in the repo.
* @marek-safar

/src/analyzer/ @radekdoulik
/src/ILLink.Tasks/ @sbomer
/src/ILLink.RoslynAnalyzer/ @sbomer
/src/linker/ @marek-safar @mrvoorhe
/test/ @marek-safar @mrvoorhe
