<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- nuget-build is necessary for the integration package to
         depend on the same NuGet package that the sdk uses -->
    <add key="nuget-build" value="https://dotnet.myget.org/F/nuget-build/api/v3/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
