<configuration>
  <system.diagnostics>
    <sources>
      <source name="ConsoleTraceListener">
        <listeners>
          <add name="L1" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>

      <source name="DefaultTraceListener">
        <listeners>
          <add name="L1" type="System.Diagnostics.DefaultTraceListener"/>
        </listeners>
      </source>

      <source name="DelimitedListTraceListener">
        <listeners>
          <add name="L1" type="System.Diagnostics.DelimitedListTraceListener" initializeData="MyFile"/>
        </listeners>
      </source>

      <source name="EventLogTraceListener">
        <listeners>
          <add name="L1" type="System.Diagnostics.EventLogTraceListener" initializeData="MySource"/>
        </listeners>
      </source>

      <source name="TextWriterTraceListener">
        <listeners>
          <add name="L1" type="System.Diagnostics.TextWriterTraceListener" initializeData="MyFile"/>
        </listeners>
      </source>

      <source name="XmlWriterTraceListener">
        <listeners>
          <add name="L1" type="System.Diagnostics.XmlWriterTraceListener" initializeData="MyFile"/>
        </listeners>
      </source>

      <source name="filter_sourceFilter">
        <listeners>
          <add name ="dmy" type="System.Diagnostics.DefaultTraceListener">
            <filter type="System.Diagnostics.SourceFilter" initializeData="Error" />
          </add>
        </listeners>
      </source>

      <source name="filter_eventTypeFilter">
        <listeners>
          <add name="dmy" type="System.Diagnostics.DefaultTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
          </add>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="booleanSwitch" value="True" />
      <add name="sourceSwitch" value="Critical" />
      <add name="traceSwitch" value="Info" />
    </switches>
  </system.diagnostics>
</configuration>
