<configuration>
  <system.diagnostics>
    <sources>
      <source name="Refresh_RemoveSwitch"
        switchName="Refresh_RemoveSwitch_sourceSwitchToBeRemoved"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name = "listener" type="System.Diagnostics.TraceSourceConfigTests.StringTraceListener,System.Diagnostics.TraceSource.Config.Tests"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name = "Refresh_RemoveSwitch_sourceSwitchToBeRemoved" value="Error" />
    </switches>
  </system.diagnostics>
</configuration>
