<configuration>
  <system.diagnostics>
    <sources>
      <source name="TraceSourceApp"
        switchName="sourceSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name = "origListener" type="System.Diagnostics.TraceSourceConfigTests.StringTraceListener,System.Diagnostics.TraceSource.Config.Tests"/>
          <add name = "secondListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name = "sourceSwitch" value="All" />
    </switches>
    <sharedListeners>
      <add name = "secondListener" type="System.Diagnostics.TraceSourceConfigTests.StringTraceListener,System.Diagnostics.TraceSource.Config.Tests" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
