<configuration>
  <system.diagnostics>
    <sources>
      <source name="Refresh_ChangeSwitch"
        switchName="sourceSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name = "listener" type="System.Diagnostics.TraceSourceConfigTests.StringTraceListener,System.Diagnostics.TraceSource.Config.Tests"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name = "sourceSwitch" value="Off" />
    </switches>
  </system.diagnostics>
</configuration>
