<configuration>
  <system.diagnostics>
    <sources>
      <source name="Refresh_RemoveSwitch">
        <listeners>
          <add name = "listener" type="System.Diagnostics.TraceSourceConfigTests.StringTraceListener,System.Diagnostics.TraceSource.Config.Tests"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
