<configuration>
  <system.diagnostics>
    <sources>
      <source name="TraceSourceApp"
        switchName="sourceSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="origListener" type="System.Diagnostics.TraceSourceConfigTests.StringTraceListener,System.Diagnostics.TraceSource.Config.Tests">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
          </add>
          <add name="secondListener" />
        </listeners>
      </source>
      <source name="TraceSource_NoListeners"
        switchName="generalSourceSwitch_Error"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Error" />
      <add name="generalSourceSwitch_Error" value="Error"/>
    </switches>
    <sharedListeners>
      <add name="secondListener" type="System.Diagnostics.TraceSourceConfigTests.StringTraceListener,System.Diagnostics.TraceSource.Config.Tests">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
