<?xml version="1.0" encoding="utf-8"?>
<Test xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            id="NightlyRun" 
            maximumTestRuns="-1" 
            maximumExecutionTime="15:15:00" 
            defaultTestLoader="processLoader"
            minimumCPU="0" 
            minimumMem="0" 
            maximumTests="0" 
            percentPassIsPass="85" 
            installDetours="false" 
            minimumTests="0" 
            minMaxTestUseCPUCount="true" 
            suppressConsoleOutputFromTests="false">

   <Assembly id="573277.exe" 
            successCode="100" 
            filename="573277.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="allocationwithpins.exe" 
            successCode="100" 
            filename="allocationwithpins.exe" 
            arguments="500" 
            concurrentCopies="1" 
    />
   <Assembly id="b115557.exe" 
            successCode="100" 
            filename="b115557.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="bestfit-finalize.exe" 
            successCode="100" 
            filename="bestfit-finalize.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="concurrentspin2.exe" 
            successCode="100" 
            filename="concurrentspin2.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="doubLinkStay.exe" 
            successCode="100" 
            filename="doubLinkStay.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="ExpandHeap.exe" 
            successCode="100" 
            filename="ExpandHeap.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="GCQueue.exe" 
            successCode="100" 
            filename="GCQueue.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="GCSimulator.exe" 
            successCode="100" 
            filename="GCSimulator.exe" 
            arguments="-dp 0.05 -t 8" 
            concurrentCopies="1" 
    /> 
   <Assembly id="GCVariant.exe" 
            successCode="100" 
            filename="GCVariant.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="LeakGenThrd.exe" 
            successCode="100" 
            filename="LeakGenThrd.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="MulDimJagAry.exe" 
            successCode="100" 
            filename="MulDimJagAry.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="pinstress.exe" 
            successCode="100" 
            filename="pinstress.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="plug.exe" 
            successCode="100" 
            filename="plug.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="PlugGaps.exe" 
            successCode="100" 
            filename="PlugGaps.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="SingLinkStay.exe" 
            successCode="100" 
            filename="SingLinkStay.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="StressAllocator.exe" 
            successCode="100" 
            filename="StressAllocator.exe" 
            arguments="" 
            concurrentCopies="1" 
    />    
   <Assembly id="ThdTreeGrowingObj.exe" 
            successCode="100" 
            filename="ThdTreeGrowingObj.exe" 
            arguments="" 
            concurrentCopies="1" 
    />
</Test>
