<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <ProductVersion>9.0.30729</ProductVersion>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectGuid>{155AEF28-C81F-405D-9072-9D52780E3E70}</ProjectGuid>
    <OutputType>Library</OutputType>
    <OutputPath>@OUTPUTDIR@</OutputPath>
    <DefineConstants>@DEFINECONSTANTS@</DefineConstants>
    <CscToolPath>@CSCTOOLPATH@</CscToolPath>
    @NOSTDLIB@
    @ALLOWUNSAFE@
    <AppDesignerFolder>Properties</AppDesignerFolder>
    <RootNamespace>mscorlib</RootNamespace>
    <AssemblyName>@ASSEMBLYNAME@</AssemblyName>
    <TargetFrameworkVersion>v3.5</TargetFrameworkVersion>
    <FileAlignment>512</FileAlignment>
    <StartupObject>
    </StartupObject>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>@DEBUG@</DebugSymbols>
    <DebugType>@DEBUGTYPE@</DebugType>
    <Optimize>false</Optimize>
    <DefineConstants>@DEFINECONSTANTS@</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>pdbonly</DebugType>
    <Optimize>true</Optimize>
    <DefineConstants>@DEFINECONSTANTS@</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
  </PropertyGroup>
  <Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" />
  <ItemGroup>
@SOURCES@
  </ItemGroup>
  <!-- To modify your build process, add your task inside one of the targets below and uncomment it. 
       Other similar extension points exist, see Microsoft.Common.targets.
  <Target Name="BeforeBuild">
  </Target>
  <Target Name="AfterBuild">
  </Target>
  -->
  <PropertyGroup>
    <PreBuildEvent>@PREBUILD@</PreBuildEvent>
  </PropertyGroup>
  @REFERENCES@
  <ItemGroup>
    <Folder Include="Properties\" />
  </ItemGroup>
</Project>
