<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Memory" version="4.5.2" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net481" />
</packages>