// Licensed to the .NET Foundation under one or more agreements.
// The .NET Foundation licenses this file to you under the MIT license.
// See the LICENSE file in the project root for more information.

#define FX_VER_FILEDESCRIPTION_STR "Microsoft CoreCLR Program launcher\0"

#include <fxver.h>
#include <fxver.rc>
