<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <!-- Needed for PublishTrimmed -->
    <NetCoreAppToolCurrent>{NetCoreAppToolCurrent}</NetCoreAppToolCurrent>
    <ToolsILLinkDir>{ToolsILLinkDir}</ToolsILLinkDir>
  </PropertyGroup>

  <!-- Use live illink bits. It is necessary to both import the package props and override
       the tasks assembly, because the live package props in the build output do not use
       the same layout as the NuGet package. -->
  <!-- This must be done after the usual nuget props imports, to override the implicitly referenced
       Microsoft.NET.ILLink.Tasks.props from the SDK. -->
  <Import Project="$(ToolsILLinkDir)net/build/Microsoft.NET.ILLink.Tasks.props" />

  <PropertyGroup>
    <!-- Don't use SDK's trimming functionality. -->
    <_RequiresILLinkPack>false</_RequiresILLinkPack>
    <ILLinkTasksAssembly>$(ToolsILLinkDir)net/ILLink.Tasks.dll</ILLinkTasksAssembly>
  </PropertyGroup>

  <PropertyGroup>
    <TargetFramework>{TargetFramework}</TargetFramework>
    <OutputType>Exe</OutputType>
    <NETCoreAppMaximumVersion>{NetCoreAppMaximumVersion}</NETCoreAppMaximumVersion>
    <UseMonoRuntime>{UseMonoRuntime}</UseMonoRuntime>
    <RuntimeIdentifier>{RuntimeIdentifier}</RuntimeIdentifier>
    <AppHostSourcePath>{AppHostSourcePath}</AppHostSourcePath>
    <SingleFileHostSourcePath>{SingleFileHostSourcePath}</SingleFileHostSourcePath>
    <AllowUnsafeBlocks>true</AllowUnsafeBlocks>

    <!-- Implicitly force 'UseNativeAotForComponents' for AOT tests -->
    <PublishAot>{PublishAot}</PublishAot>
    <UseNativeAotForComponents Condition="'$(PublishAot)' == 'true'">true</UseNativeAotForComponents>

    <!-- wasm specific -->
    <MonoAOTCompilerDir>{MonoAOTCompilerDir}</MonoAOTCompilerDir>
    <MonoProjectRoot>{MonoProjectRoot}</MonoProjectRoot>
    <BrowserProjectRoot>{BrowserProjectRoot}</BrowserProjectRoot>
    <WasmProjectRoot>{WasmProjectRoot}</WasmProjectRoot>
    <WasiProjectRoot>{WasiProjectRoot}</WasiProjectRoot>
    <MonoAOTCompilerTasksAssemblyPath>{MonoAOTCompilerTasksAssemblyPath}</MonoAOTCompilerTasksAssemblyPath>
    <WasmAppBuilderTasksAssemblyPath>{WasmAppBuilderTasksAssemblyPath}</WasmAppBuilderTasksAssemblyPath>
    <MonoTargetsTasksAssemblyPath>{MonoTargetsTasksAssemblyPath}</MonoTargetsTasksAssemblyPath>
    <MicrosoftNetCoreAppRuntimePackRidDir>{MicrosoftNetCoreAppRuntimePackRidDir}</MicrosoftNetCoreAppRuntimePackRidDir>

    <!-- Needed for targetingpacks.targets -->
    <ProductVersion>{ProductVersion}</ProductVersion>
    <NetCoreAppCurrent>{NetCoreAppCurrent}</NetCoreAppCurrent>
    <NetCoreAppCurrentVersion>{NetCoreAppCurrentVersion}</NetCoreAppCurrentVersion>
    <MicrosoftNetCoreAppFrameworkName>{MicrosoftNetCoreAppFrameworkName}</MicrosoftNetCoreAppFrameworkName>
    <MicrosoftNetCoreAppRefPackDir>{MicrosoftNetCoreAppRefPackDir}</MicrosoftNetCoreAppRefPackDir>
    <MicrosoftNetCoreAppRuntimePackDir>{MicrosoftNetCoreAppRuntimePackDir}</MicrosoftNetCoreAppRuntimePackDir>

    <RepositoryEngineeringDir>{RepositoryEngineeringDir}</RepositoryEngineeringDir>
    <_ExtraTrimmerArgs>{ExtraTrimmerArgs} $(_ExtraTrimmerArgs)</_ExtraTrimmerArgs>
    {AdditionalProperties}

    <!-- Needed for PublishAot -->
    <IlcToolsPath>{IlcToolsPath}</IlcToolsPath>
    <IlcBuildTasksPath>{IlcBuildTasksPath}</IlcBuildTasksPath>
    <IlcSdkPath>{IlcSdkPath}</IlcSdkPath>
    <IlcFrameworkPath>{IlcFrameworkPath}</IlcFrameworkPath>
    <IlcFrameworkNativePath>{IlcFrameworkNativePath}</IlcFrameworkNativePath>
    <CoreCLRBuildIntegrationDir>{CoreCLRBuildIntegrationDir}</CoreCLRBuildIntegrationDir>
  </PropertyGroup>

  <ItemGroup>
    {RuntimeHostConfigurationOptions}
  </ItemGroup>

  <ItemGroup>
    {AdditionalProjectReferences}
  </ItemGroup>

  <Target Name="RemoveInvariantGlobalization" BeforeTargets="_SetWasmBuildNativeDefaults" Condition="'$(TargetArchitecture)' == 'wasm'">
    <ItemGroup>
      <_PropertiesThatTriggerRelinking Remove="InvariantGlobalization" />
      <_PropertiesThatTriggerRelinking Remove="InvariantTimezone" />
    </ItemGroup>
  </Target>

  <Import Project="{NativeSanitizersTargets}" />
  <Import Project="$(RepositoryEngineeringDir)toolAot.targets" />

  <ItemGroup>
    <Content Include="@(SanitizerRuntimeToCopy->'{SanitizerRuntimeFolder}/%(Identity)')" CopyToOutputDirectory="PreserveNewest" />
  </ItemGroup>

</Project>
