<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>{TargetFramework}</TargetFramework>
    <OutputType>Exe</OutputType>
    <NETCoreAppMaximumVersion>{NetCoreAppMaximumVersion}</NETCoreAppMaximumVersion>
    <UseMonoRuntime>{UseMonoRuntime}</UseMonoRuntime>
    <RuntimeIdentifier>{RuntimeIdentifier}</RuntimeIdentifier>
    <PublishAot>{PublishAot}</PublishAot>
    <AppHostSourcePath>{AppHostSourcePath}</AppHostSourcePath>
    <SingleFileHostSourcePath>{SingleFileHostSourcePath}</SingleFileHostSourcePath>

    <!-- wasm specific -->
    <MonoAOTCompilerDir>{MonoAOTCompilerDir}</MonoAOTCompilerDir>
    <MonoProjectRoot>{MonoProjectRoot}</MonoProjectRoot>
    <MonoAOTCompilerTasksAssemblyPath>{MonoAOTCompilerTasksAssemblyPath}</MonoAOTCompilerTasksAssemblyPath>
    <WasmAppBuilderTasksAssemblyPath>{WasmAppBuilderTasksAssemblyPath}</WasmAppBuilderTasksAssemblyPath>
    <MonoTargetsTasksAssemblyPath>{MonoTargetsTasksAssemblyPath}</MonoTargetsTasksAssemblyPath>
    <MicrosoftNetCoreAppRuntimePackRidDir>{MicrosoftNetCoreAppRuntimePackRidDir}</MicrosoftNetCoreAppRuntimePackRidDir>

    <!-- Needed for targetingpacks.targets -->
    <ProductVersion>{ProductVersion}</ProductVersion>
    <NetCoreAppCurrent>{NetCoreAppCurrent}</NetCoreAppCurrent>
    <NetCoreAppCurrentVersion>{NetCoreAppCurrentVersion}</NetCoreAppCurrentVersion>
    <MicrosoftNetCoreAppFrameworkName>{MicrosoftNetCoreAppFrameworkName}</MicrosoftNetCoreAppFrameworkName>
    <MicrosoftNetCoreAppRefPackDir>{MicrosoftNetCoreAppRefPackDir}</MicrosoftNetCoreAppRefPackDir>
    <MicrosoftNetCoreAppRuntimePackDir>{MicrosoftNetCoreAppRuntimePackDir}</MicrosoftNetCoreAppRuntimePackDir>

    <RepositoryEngineeringDir>{RepositoryEngineeringDir}</RepositoryEngineeringDir>
    <_ExtraTrimmerArgs>{ExtraTrimmerArgs} $(_ExtraTrimmerArgs)</_ExtraTrimmerArgs>
    {AdditionalProperties}

    <!-- Needed for PublishAot -->
    <IlcToolsPath>{IlcToolsPath}</IlcToolsPath>
    <IlcBuildTasksPath>{IlcBuildTasksPath}</IlcBuildTasksPath>
    <IlcSdkPath>{IlcSdkPath}</IlcSdkPath>
    <IlcFrameworkPath>{IlcFrameworkPath}</IlcFrameworkPath>
    <IlcFrameworkNativePath>{IlcFrameworkNativePath}</IlcFrameworkNativePath>
    <LinkerFlavor Condition="'$(TargetOS)' == 'linux'">lld</LinkerFlavor>
    <SysRoot Condition="('$(CrossBuild)' == 'true' or '$(BuildArchitecture)' != '$(TargetArchitecture)') and '$(HostOS)' != 'windows'">$(ROOTFS_DIR)</SysRoot>
    <CoreCLRBuildIntegrationDir>{CoreCLRBuildIntegrationDir}</CoreCLRBuildIntegrationDir>
  </PropertyGroup>

  <ItemGroup>
    <CustomLinkerArg Condition="'$(CrossBuild)' == 'true' and '$(_hostArchitecture)' == '$(_targetArchitecture)' and '$(_hostOS)' != 'windows'" Include="--gcc-toolchain=$(ROOTFS_DIR)/usr" />
  </ItemGroup>

  <ItemGroup>
    {RuntimeHostConfigurationOptions}
  </ItemGroup>

  <ItemGroup>
    {AdditionalProjectReferences}
  </ItemGroup>

  <!-- Logic to override the default IlLink tasks that come from the SDK and use the one
  we use in dotnet/runtime repo -->
  <ItemGroup>
    <PackageReference Include="Microsoft.NET.ILLink.Tasks"
                      Version="{MicrosoftNETILLinkTasksVersion}"
                      PrivateAssets="all"
                      IsImplicitlyDefined="true" />
  </ItemGroup>

</Project>
