<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <!-- When the tests are run from the repo's test bin directory,
         this NuGet.config should be read to find the local package
         directory. -->
    <add key="local linker packages" value="../nupkgs" />
  </packageSources>
</configuration>
