<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.6.1" targetFramework="net462" />
  <package id="NUnit.ConsoleRunner" version="3.6.1" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net462" />
</packages>
