<?xml version="1.0" encoding="utf-8"?>
<Test xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            id="NightlyRun" 
            maximumTestRuns="-1" 
            maximumExecutionTime="15:15:00" 
            defaultTestLoader="processLoader"
            minimumCPU="0" 
            minimumMem="0" 
            maximumTests="0" 
            percentPassIsPass="85" 
            installDetours="false" 
            minimumTests="0" 
            minMaxTestUseCPUCount="true" 
            suppressConsoleOutputFromTests="true">

    <!-- Add GCPerfSim with No live data on the POH -->
    <Assembly id="GCPerfSim - POH No Live Data."
            successCode="100"
            filename="GCPerfSim.dll"
            arguments="-tc 28 -tagb 540 -tlgb 0 -lohar 0 -pohar 1000 -sohsr 100-4000 -lohsr 102400-204800 -pohsr 100-204800 -sohsi 0 -lohsi 0 -pohsi 0 -sohpi 0 -lohpi 0 -sohfi 0 -lohfi 0 -pohfi 0 -allocType reference -testKind time"
            concurrentCopies="3"
    />

    <!-- Add GCPerfSim with some live data on the POH -->
    <Assembly id="GCPerfSim - POH Some Live Data."
            successCode="100"
            filename="GCPerfSim.dll"
            arguments="-tc 28 -tagb 540 -tlgb 2 -lohar 0 -pohar 1000 -sohsr 100-4000 -lohsr 102400-204800 -pohsr 100-204800 -sohsi 0 -lohsi 0 -pohsi 50 -sohpi 0 -lohpi 0 -sohfi 0 -lohfi 0 -pohfi 0 -allocType reference -testKind time"
            concurrentCopies="3"
    />

    <!-- Add GCPerfSim with a lot of live data on the LOH -->
    <Assembly id="GCPerfSim - POH A Lot Of Live Data."
            successCode="100"
            filename="GCPerfSim.dll"
            arguments="-tc 28 -tagb 540 -tlgb 5 -lohar 0 -pohar 1000 -sohsr 100-4000 -lohsr 102400-204800 -pohsr 100-204800 -sohsi 0 -lohsi 0 -pohsi 30 -sohpi 0 -lohpi 0 -sohfi 0 -lohfi 0 -pohfi 0 -allocType reference -testKind time"
            concurrentCopies="3"
    />

    <!-- Add GCPerfSim with a LOH Scenario --> 
    <Assembly id="GCPerfSim - LOH Scenario."
            successCode="100"
            filename="GCPerfSim.dll"
            arguments="-tc 28 -tagb 540 -tlgb 2 -lohar 1000 -pohar 0 -sohsr 100-4000 -lohsr 102400-204800 -pohsr 100-204800 -sohsi 0 -lohsi 50 -pohsi 0 -sohpi 0 -lohpi 0 -sohfi 0 -lohfi 0 -pohfi 0 -allocType reference -testKind time"
            concurrentCopies="3"
    />

</Test>
