<?xml version="1.0" encoding="utf-8"?>
<Test xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            id="NightlyRun" 
            maximumTestRuns="-1" 
            maximumExecutionTime="15:15:00" 
            defaultTestLoader="assemblyLoadContextLoader"
            minimumCPU="0" 
            minimumMem="0" 
            maximumTests="0" 
            percentPassIsPass="85" 
            installDetours="false" 
            minimumTests="0" 
            minMaxTestUseCPUCount="true" 
            suppressConsoleOutputFromTests="true">
    <Assembly id="DirectedGraph.dll"
            successCode="100"
            filename="DirectedGraph.dll"
            arguments=""
            concurrentCopies="1"
    />
    <Assembly id="RedBlackTree.dll"
            successCode="100"
            filename="RedBlackTree.dll"
            arguments=""
            concurrentCopies="1"
    />                
    <Assembly id="LargeObjectAlloc.dll"
            successCode="100"
            filename="LargeObjectAlloc.dll"
            arguments=""
            concurrentCopies="1"
    />
    <Assembly id="LargeObjectAlloc1.dll"
            successCode="100"
            filename="LargeObjectAlloc1.dll"
            arguments=""
            concurrentCopies="1"
    />
    <Assembly id="LargeObjectAlloc2.dll"
            successCode="100"
            filename="LargeObjectAlloc2.dll"
            arguments=""
            concurrentCopies="1"
    />
    <Assembly id="LargeObjectAlloc3.dll"
            successCode="100"
            filename="LargeObjectAlloc3.dll"
            arguments=""
            concurrentCopies="1"
    />
    <Assembly id="LargeObjectAlloc4.dll"
            successCode="100"
            filename="LargeObjectAlloc4.dll"
            arguments=""
            concurrentCopies="1"
    />
    <Assembly id="LargeObjectAllocPinned.dll"
            successCode="100"
            filename="LargeObjectAllocPinned.dll"
            arguments=""
            concurrentCopies="1"
    />
   <Assembly id="573277.dll" 
            successCode="100" 
            filename="573277.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="allocationwithpins.dll" 
            successCode="100" 
            filename="allocationwithpins.dll" 
            arguments="500" 
            concurrentCopies="1" 
    />
   <Assembly id="b115557.dll" 
            successCode="100" 
            filename="b115557.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="bestfit-finalize.dll" 
            successCode="100" 
            filename="bestfit-finalize.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="concurrentspin2.dll" 
            successCode="100" 
            filename="concurrentspin2.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="doubLinkStay.dll" 
            successCode="100" 
            filename="doubLinkStay.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="ExpandHeap.dll" 
            successCode="100" 
            filename="ExpandHeap.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="GCQueue.dll" 
            successCode="100" 
            filename="GCQueue.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="GCSimulator.dll" 
            successCode="100" 
            filename="GCSimulator.dll" 
            arguments="-dp 0.05 -t 8" 
            concurrentCopies="1" 
    /> 
   <Assembly id="GCVariant.dll" 
            successCode="100" 
            filename="GCVariant.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="LeakGenThrd.dll" 
            successCode="100" 
            filename="LeakGenThrd.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="MulDimJagAry.dll" 
            successCode="100" 
            filename="MulDimJagAry.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="pinstress.dll" 
            successCode="100" 
            filename="pinstress.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="plug.dll" 
            successCode="100" 
            filename="plug.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="PlugGaps.dll" 
            successCode="100" 
            filename="PlugGaps.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="SingLinkStay.dll" 
            successCode="100" 
            filename="SingLinkStay.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="StressAllocator.dll" 
            successCode="100" 
            filename="StressAllocator.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
   <Assembly id="StressAllocator.dll"
         successCode="100"
         filename="StressAllocator.dll"
         arguments="-pinned 50 -usepoh true"
         concurrentCopies="1"
   />
   <Assembly id="ThdTreeGrowingObj.dll" 
            successCode="100" 
            filename="ThdTreeGrowingObj.dll" 
            arguments="" 
            concurrentCopies="1" 
    />
</Test>
