<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>BuildVersion</key>
        <string>@@MONO_VERSION_RELEASE@@</string>
        <key>CFBundleShortVersionString</key>
        <string>@@MONO_VERSION_RELEASE@@</string>
        <key>CFBundleVersion</key>
        <string>@@MONO_VERSION_RELEASE@@</string>
        <key>ProjectName</key>
        <string>Mono</string>
        <key>SourceVersion</key>
        <string>@@MONO_VERSION_RELEASE@@</string>
</dict>
</plist>
