<linker>
  <assembly fullname="{AssemblyName}">
    <!-- System.Resources.UsingResourceKeys removes resource strings and instead uses the resource key as the exception message -->
    <resource name="{StringResourcesName}.resources" action="remove" feature="System.Resources.UsingResourceKeys" featurevalue="true" />
    <type fullname="System.SR">
      <method signature="System.Boolean UsingResourceKeys()" body="stub" value="true" feature="System.Resources.UsingResourceKeys" featurevalue="true" />
    </type>
  </assembly>
</linker>