-SourceToolsList @("policheck","credscan")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail runtimerepo-infra@microsoft.com
-TsaCodebaseAdmin REDMOND\danmose
-TsaBugAreaPath "DevDiv\NET Runtime\Reliability\Docs"
-TsaIterationPath DevDiv
-TsaRepositoryName Runtime
-TsaCodebaseName Runtime
-TsaOnboard $True
-TsaPublish $True