-TsaInstanceURL $(TsaInstanceURL)
-TsaProjectName $(TsaProjectName)
-TsaNotificationEmail $(TsaNotificationEmail)
-TsaCodebaseAdmin $(TsaCodebaseAdmin)
-TsaBugAreaPath $(TsaBugAreaPath)
-TsaIterationPath $(TsaIterationPath)
-TsaRepositoryName $(TsaRepositoryName)
-TsaCodebaseName $(TsaCodebaseName)
-TsaPublish $True