/Makefile.in
/Makefile
/*.stdout
/*.stderr
/*.aotlog
/.deps
/.libs
/libtest.la
/libtest.lo
/TestDriver.dll
/0
/stest.dat
/semantic.cache
/*.exe
/*.stderr
/*.aotlog
/*.dll
/*.mdb
/*.o
/*.lo
/*.so
/modules-m1.netmodule
/imt_big_iface_test.cs
/bin
/page.aspx
/tests-config
/TAGS
/runtime-invoke.gen.cs
