/Makefile.in
/Makefile
/*.stdout
/*.stderr
/*.aotlog
/*.allout
/*.zero
/.deps
/.libs
/libtest.la
/libtest.lo
/TestDriver.dll
/0
/stest.dat
/semantic.cache
/*.exe
/*.stderr
/*.aotlog
/*.dll
/*.mdb
/*.pdb
/*.o
/*.lo
/*.so
/*.dylib
/*.dylib.dSYM
/*.netmodule
/imt_big_iface_test.cs
/bin
/page.aspx
/tests-config
/TAGS
/runtime-invoke.gen.cs
/testlist
/testlist.sorted
/reflection-load-dir
/assemblyresolve_deps
