<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include "..\variables.wxi" ?>

  <Product
    Id="*"
    Name="$(var.ProductName)"
    Language="$(var.ProductLanguage)"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="$(var.UpgradeCode)">

    <?include "..\product.common.wxi" ?>

    <Feature Id="MainFeature" Title="Main Feature" Level="1">
      <ComponentGroupRef Id="InstallFiles" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.Program_Files)">
        <Directory Id="DOTNETHOME" Name="dotnet"/>
      </Directory>
    </Directory>
  </Fragment>

</Wix>
