/Makefile
/Makefile.in
/*.o
/*.so
/*.exe
/*.dll
/*.mdb
/*.lo
/*.loT
/*.la
/.libs
/.deps
/mini
/genmdesc
/inssel.c
/inssel.h
/mini.pc
/cpu-pentium.h
/cpu-g4.h
/cpu-amd64.h
/mono
/monow
/cpu-sparc.h
/cpu-s390.h
/cpu-x86.h
/.hidden
/semantic.cache
/.project
/.cproject
/iltests.il
/version.h
/buildver.h
/TAGS
/mono-sgen

