/Makefile
/Makefile.in
/Makefile.am
/*.o
/*.g.c
/*.so
/*.exe
/*.dll
/*.mdb
/*.lo
/interp/*.lo
/*.loT
/*.la
/.libs
/.deps
/mini
/genmdesc
/inssel.c
/inssel.h
/mini.pc
/cpu-*.h
/mono
/monow
/.hidden
/semantic.cache
/.project
/.cproject
/iltests.il
/version.h
/buildver.h
/TAGS
/mono-sgen
/mono-boehm
/buildver-sgen.h
/buildver-boehm.h
/regressiontests.out
/test-mono-interp-whitebox
