// Licensed to the .NET Foundation under one or more agreements.
// The .NET Foundation licenses this file to you under the MIT license.

STRINGTABLE DISCARDABLE
BEGIN
	MSG_FOR_URT_HR(CORDBG_S_AT_END_OF_STACK) "The stack walk has reached the end of the stack.  There are no more frames to walk."
	MSG_FOR_URT_HR(COR_E_TYPEUNLOADED) "Type has been unloaded."
	MSG_FOR_URT_HR(COR_E_APPDOMAINUNLOADED) "Attempted to access an unloaded appdomain."
	MSG_FOR_URT_HR(COR_E_CANNOTUNLOADAPPDOMAIN) "Error while unloading appdomain."
	MSG_FOR_URT_HR(MSEE_E_ASSEMBLYLOADINPROGRESS) "Assembly is still being loaded."
	MSG_FOR_URT_HR(COR_E_ASSEMBLYEXPECTED) "The module was expected to contain an assembly manifest."
	MSG_FOR_URT_HR(COR_E_NEWER_RUNTIME) "This assembly is built by a runtime newer than the currently loaded runtime and cannot be loaded."
	MSG_FOR_URT_HR(COR_E_MULTIMODULEASSEMBLIESDIALLOWED) "The module cannot be loaded because only single file assemblies are supported."
	MSG_FOR_URT_HR(HOST_E_INVALIDOPERATION) "Invalid operation."
	MSG_FOR_URT_HR(HOST_E_CLRNOTAVAILABLE) "CLR has been disabled due to unrecoverable error."
	MSG_FOR_URT_HR(FUSION_E_REF_DEF_MISMATCH) "The located assembly's manifest definition does not match the assembly reference."
	MSG_FOR_URT_HR(FUSION_E_PRIVATE_ASM_DISALLOWED) "A strongly-named assembly is required."
	MSG_FOR_URT_HR(FUSION_E_INVALID_NAME) "The given assembly name was invalid."
	MSG_FOR_URT_HR(FUSION_E_CACHEFILE_FAILED) "Failed to add file to AppDomain cache."
	MSG_FOR_URT_HR(FUSION_E_APP_DOMAIN_LOCKED) "The requested assembly version conflicts with what is already bound in the app domain or specified in the manifest."
	MSG_FOR_URT_HR(COR_E_LOADING_REFERENCE_ASSEMBLY) "Reference assemblies should not be loaded for execution.  They can only be loaded in the Reflection-only loader context."
	MSG_FOR_URT_HR(COR_E_LOADING_WINMD_REFERENCE_ASSEMBLY) "Contract Windows Runtime assemblies cannot be loaded for execution.  Make sure your application only contains non-contract Windows Runtime assemblies."
	MSG_FOR_URT_HR(COR_E_AMBIGUOUSIMPLEMENTATION) "Ambiguous implementation found."
	MSG_FOR_URT_HR(CLDB_E_FILE_BADREAD) "Error occurred during a read."
	MSG_FOR_URT_HR(CLDB_E_FILE_BADWRITE) "Error occurred during a write."
	MSG_FOR_URT_HR(CLDB_E_FILE_OLDVER) "Old version error."
	MSG_FOR_URT_HR(CLDB_E_SMDUPLICATE) "Create of shared memory failed.  A memory mapping of the same name already exists."
	MSG_FOR_URT_HR(CLDB_E_NO_DATA) "No .CLB data in the memory or stream."
	MSG_FOR_URT_HR(CLDB_E_INCOMPATIBLE) "Importing scope is not compatible with the emitting scope."
	MSG_FOR_URT_HR(CLDB_E_FILE_CORRUPT) "File is corrupt."
	MSG_FOR_URT_HR(CLDB_E_BADUPDATEMODE) "Cannot open a incrementally build scope for full update."
	MSG_FOR_URT_HR(CLDB_E_INDEX_NOTFOUND) "Index not found."
	MSG_FOR_URT_HR(CLDB_E_RECORD_NOTFOUND) "Record not found on lookup."
	MSG_FOR_URT_HR(CLDB_E_RECORD_OUTOFORDER) "Record is emitted out of order."
	MSG_FOR_URT_HR(CLDB_E_TOO_BIG) "A blob or string was too big."
	MSG_FOR_URT_HR(META_E_INVALID_TOKEN_TYPE) "A token of the wrong type passed to a metadata function."
	MSG_FOR_URT_HR(TLBX_E_LIBNOTREGISTERED) "Typelib export: Type library is not registered."
	MSG_FOR_URT_HR(META_E_BADMETADATA) "Merge: Inconsistency in meta data import scope."
	MSG_FOR_URT_HR(META_E_BAD_SIGNATURE) "Bad binary signature."
	MSG_FOR_URT_HR(META_E_BAD_INPUT_PARAMETER) "Bad input parameters."
	MSG_FOR_URT_HR(META_E_CANNOTRESOLVETYPEREF) "Cannot resolve typeref."
	MSG_FOR_URT_HR(META_E_STRINGSPACE_FULL) "No logical space left to create more user strings."
	MSG_FOR_URT_HR(META_E_HAS_UNMARKALL) "Unmark all has been called already."
	MSG_FOR_URT_HR(META_E_MUST_CALL_UNMARKALL) "Must call UnmarkAll first before marking."
	MSG_FOR_URT_HR(META_E_CA_INVALID_TARGET) "Known custom attribute on invalid target."
	MSG_FOR_URT_HR(META_E_CA_INVALID_VALUE) "Known custom attribute had invalid value."
	MSG_FOR_URT_HR(META_E_CA_INVALID_BLOB) "Known custom attribute blob has bad format."
	MSG_FOR_URT_HR(META_E_CA_REPEATED_ARG) "Known custom attribute blob has repeated named argument."
	MSG_FOR_URT_HR(META_E_CA_UNKNOWN_ARGUMENT) "Known custom attribute named argument not recognized."
	MSG_FOR_URT_HR(META_E_CA_UNEXPECTED_TYPE) "Known attribute parser found unexpected type."
	MSG_FOR_URT_HR(META_E_CA_INVALID_ARGTYPE) "Known attribute parser only handles fields, not properties."
	MSG_FOR_URT_HR(META_E_CA_INVALID_ARG_FOR_TYPE) "Known attribute parser found an argument that is invalid for the object it is applied to."
	MSG_FOR_URT_HR(META_E_CA_INVALID_UUID) "The format of the UUID was invalid."
	MSG_FOR_URT_HR(META_E_CA_INVALID_MARSHALAS_FIELDS) "The MarshalAs attribute has fields set that are not valid for the specified unmanaged type."
	MSG_FOR_URT_HR(META_E_CA_NT_FIELDONLY) "The specified unmanaged type is only valid on fields."
	MSG_FOR_URT_HR(META_E_CA_NEGATIVE_PARAMINDEX) "The parameter index cannot be negative."
	MSG_FOR_URT_HR(META_E_CA_NEGATIVE_CONSTSIZE) "The constant size cannot be negative."
	MSG_FOR_URT_HR(META_E_CA_FIXEDSTR_SIZE_REQUIRED) "A fixed string requires a size."
	MSG_FOR_URT_HR(META_E_CA_CUSTMARSH_TYPE_REQUIRED) "A custom marshaler requires the custom marshaler type."
	MSG_FOR_URT_HR(META_E_NOT_IN_ENC_MODE) "SaveDelta was called without being in EnC mode."
	MSG_FOR_URT_HR(META_E_CA_BAD_FRIENDS_ARGS) "InternalsVisibleTo can't have a version, culture, or processor architecture."
	MSG_FOR_URT_HR(VLDTR_E_RID_OUTOFRANGE) "Rid is out of range."
	MSG_FOR_URT_HR(VLDTR_E_STRING_INVALID) "String offset is invalid."
	MSG_FOR_URT_HR(VLDTR_E_GUID_INVALID) "GUID offset is invalid."
	MSG_FOR_URT_HR(VLDTR_E_BLOB_INVALID) "Blob offset if invalid."
	MSG_FOR_URT_HR(VLDTR_E_MR_BADCALLINGCONV) "MemberRef has invalid calling convention."
	MSG_FOR_URT_HR(VLDTR_E_SIGNULL) "Signature specified is zero-sized."
	MSG_FOR_URT_HR(VLDTR_E_MD_BADCALLINGCONV) "Method signature has invalid calling convention."
	MSG_FOR_URT_HR(VLDTR_E_MD_THISSTATIC) "Method is marked static but has HASTHIS/EXPLICITTHIS set on the calling convention."
	MSG_FOR_URT_HR(VLDTR_E_MD_NOTTHISNOTSTATIC) "Method is not marked static but is not HASTHIS or EXPLICITTHIS."
	MSG_FOR_URT_HR(VLDTR_E_MD_NOARGCNT) "Method signature is missing the argument count."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MISSELTYPE) "Signature missing element type."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MISSTKN) "Signature missing token."
	MSG_FOR_URT_HR(VLDTR_E_SIG_TKNBAD) "Signature has bad token."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MISSFPTR) "Signature is missing function pointer."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MISSFPTRARGCNT) "Signature has function pointer missing argument count."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MISSRANK) "Signature is missing rank specification."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MISSNSIZE) "Signature is missing count of sized dimensions."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MISSSIZE) "Signature is missing size of dimension."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MISSNLBND) "Signature is missing count of lower bounds."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MISSLBND) "Signature is missing a lower bound."
	MSG_FOR_URT_HR(VLDTR_E_SIG_BADELTYPE) "Signature has bad element type."
	MSG_FOR_URT_HR(VLDTR_E_TD_ENCLNOTNESTED) "TypeDef not nested has encloser."
	MSG_FOR_URT_HR(VLDTR_E_FMD_PINVOKENOTSTATIC) "Field or method is PInvoke but is not marked Static."
	MSG_FOR_URT_HR(VLDTR_E_SIG_SENTINMETHODDEF) "E_T_SENTINEL in MethodDef signature."
	MSG_FOR_URT_HR(VLDTR_E_SIG_SENTMUSTVARARG) "E_T_SENTINEL <=> VARARG."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MULTSENTINELS) "Multiple E_T_SENTINELs."
	MSG_FOR_URT_HR(VLDTR_E_SIG_MISSARG) "Signature missing argument."
	MSG_FOR_URT_HR(VLDTR_E_SIG_BYREFINFIELD) "Field of ByRef type."
	MSG_FOR_URT_HR(CORDBG_E_UNRECOVERABLE_ERROR) "Unrecoverable API error."
	MSG_FOR_URT_HR(CORDBG_E_PROCESS_TERMINATED) "Process was terminated."
	MSG_FOR_URT_HR(CORDBG_E_PROCESS_NOT_SYNCHRONIZED) "Process not synchronized."
	MSG_FOR_URT_HR(CORDBG_E_CLASS_NOT_LOADED) "A class is not loaded."
	MSG_FOR_URT_HR(CORDBG_E_IL_VAR_NOT_AVAILABLE) "An IL variable is not available at the current native IP."
	MSG_FOR_URT_HR(CORDBG_E_BAD_REFERENCE_VALUE) "A reference value was found to be bad during dereferencing."
	MSG_FOR_URT_HR(CORDBG_E_FIELD_NOT_AVAILABLE) "A field in a class is not available, because the runtime optimized it away."
	MSG_FOR_URT_HR(CORDBG_E_NON_NATIVE_FRAME) "'Native-frame-only' operation on non-native frame."
	MSG_FOR_URT_HR(CORDBG_E_CODE_NOT_AVAILABLE) "The code is currently unavailable."
	MSG_FOR_URT_HR(CORDBG_E_FUNCTION_NOT_IL) "Attempt to get a ICorDebugFunction for a function that is not IL."
	MSG_FOR_URT_HR(CORDBG_E_CANT_SET_IP_INTO_FINALLY) "SetIP is not possible because SetIP would move EIP from outside of an exception handling finally clause to a point inside of one."
	MSG_FOR_URT_HR(CORDBG_E_CANT_SET_IP_OUT_OF_FINALLY) "SetIP is not possible because it would move EIP from within an exception handling finally clause to a point outside of one."
	MSG_FOR_URT_HR(CORDBG_E_CANT_SET_IP_INTO_CATCH) "SetIP is not possible, because SetIP would move EIP from outside of an exception handling catch clause to a point inside of one."
	MSG_FOR_URT_HR(CORDBG_E_SET_IP_NOT_ALLOWED_ON_NONLEAF_FRAME) "SetIP cannot be done on any frame except the leaf frame."
	MSG_FOR_URT_HR(CORDBG_E_SET_IP_IMPOSSIBLE) "SetIP is not allowed."
	MSG_FOR_URT_HR(CORDBG_E_FUNC_EVAL_BAD_START_POINT) "Func eval cannot work. Bad starting point."
	MSG_FOR_URT_HR(CORDBG_E_INVALID_OBJECT) "This object value is no longer valid."
	MSG_FOR_URT_HR(CORDBG_E_FUNC_EVAL_NOT_COMPLETE) "CordbEval::GetResult called before func eval has finished."
	MSG_FOR_URT_HR(CORDBG_E_STATIC_VAR_NOT_AVAILABLE) "A static variable is not available because it has not been initialized yet."
	MSG_FOR_URT_HR(CORDBG_E_CANT_SETIP_INTO_OR_OUT_OF_FILTER) "SetIP cannot leave or enter a filter."
	MSG_FOR_URT_HR(CORDBG_E_CANT_CHANGE_JIT_SETTING_FOR_ZAP_MODULE) "JIT settings for ZAP modules cannot be changed."
	MSG_FOR_URT_HR(CORDBG_E_CANT_SET_IP_OUT_OF_FINALLY_ON_WIN64) "SetIP is not possible because it would move EIP from within a finally clause to a point outside of one on this platforms."
	MSG_FOR_URT_HR(CORDBG_E_CANT_SET_IP_OUT_OF_CATCH_ON_WIN64) "SetIP is not possible because it would move EIP from within a catch clause to a point outside of one on this platforms."
	MSG_FOR_URT_HR(CORDBG_E_CANT_SET_TO_JMC) "Cannot use JMC on this code (likely wrong JIT settings)."
	MSG_FOR_URT_HR(CORDBG_E_NO_CONTEXT_FOR_INTERNAL_FRAME) "Internal frame markers have no associated context."
	MSG_FOR_URT_HR(CORDBG_E_NOT_CHILD_FRAME) "The current frame is not a child frame."
	MSG_FOR_URT_HR(CORDBG_E_NON_MATCHING_CONTEXT) "The provided CONTEXT does not match the specified thread."
	MSG_FOR_URT_HR(CORDBG_E_PAST_END_OF_STACK) "The stackwalker is now past the end of stack.  No information is available."
	MSG_FOR_URT_HR(CORDBG_E_FUNC_EVAL_CANNOT_UPDATE_REGISTER_IN_NONLEAF_FRAME) "Func eval cannot update a variable stored in a register on a non-leaf frame.  The most likely cause is that such a variable is passed as a ref/out argument."
	MSG_FOR_URT_HR(CORDBG_E_BAD_THREAD_STATE) "The state of the thread is invalid."
	MSG_FOR_URT_HR(CORDBG_E_DEBUGGER_ALREADY_ATTACHED) "This process has already been attached."
	MSG_FOR_URT_HR(CORDBG_E_SUPERFLOUS_CONTINUE) "Returned from a call to Continue that was not matched with a stopping event."
	MSG_FOR_URT_HR(CORDBG_E_SET_VALUE_NOT_ALLOWED_ON_NONLEAF_FRAME) "Cannot perfrom SetValue on non-leaf frames."
	MSG_FOR_URT_HR(CORDBG_E_ENC_MODULE_NOT_ENC_ENABLED) "Tried to do Edit and Continue on a module that was not started in Edit and Continue mode."
	MSG_FOR_URT_HR(CORDBG_E_SET_IP_NOT_ALLOWED_ON_EXCEPTION) "SetIP cannot be done on any exception."
	MSG_FOR_URT_HR(CORDBG_E_VARIABLE_IS_ACTUALLY_LITERAL) "The 'variable' does not exist because it is a literal optimized away by the compiler."
	MSG_FOR_URT_HR(CORDBG_E_PROCESS_DETACHED) "Process has been detached."
	MSG_FOR_URT_HR(CORDBG_E_ENC_CANT_ADD_FIELD_TO_VALUE_OR_LAYOUT_CLASS) "Adding a field to a value or layout class is prohibited."
	MSG_FOR_URT_HR(CORDBG_E_FIELD_NOT_STATIC) "GetStaticFieldValue called on a non-static field."
	MSG_FOR_URT_HR(CORDBG_E_FIELD_NOT_INSTANCE) "Returned if someone tries to call GetStaticFieldValue on a non-instance field."
	MSG_FOR_URT_HR(CORDBG_E_ENC_JIT_CANT_UPDATE) "The JIT is unable to update the method."
	MSG_FOR_URT_HR(CORDBG_E_ENC_INTERNAL_ERROR) "Internal Runtime Error while doing Edit-and-Continue."
	MSG_FOR_URT_HR(CORDBG_E_ENC_HANGING_FIELD) "The field was added via Edit and Continue after the class was loaded."
	MSG_FOR_URT_HR(CORDBG_E_MODULE_NOT_LOADED) "Module not loaded."
	MSG_FOR_URT_HR(CORDBG_E_UNABLE_TO_SET_BREAKPOINT) "Cannot set a breakpoint here."
	MSG_FOR_URT_HR(CORDBG_E_DEBUGGING_NOT_POSSIBLE) "Debugging is not possible due to an incompatibility within the CLR implementation."
	MSG_FOR_URT_HR(CORDBG_E_KERNEL_DEBUGGER_ENABLED) "A kernel debugger is enabled on the system.  User-mode debugging will trap to the kernel debugger."
	MSG_FOR_URT_HR(CORDBG_E_KERNEL_DEBUGGER_PRESENT) "A kernel debugger is present on the system.  User-mode debugging will trap to the kernel debugger."
	MSG_FOR_URT_HR(CORDBG_E_INCOMPATIBLE_PROTOCOL) "The debugger's protocol is incompatible with the debuggee."
	MSG_FOR_URT_HR(CORDBG_E_TOO_MANY_PROCESSES) "The debugger can only handle a finite number of debuggees."
	MSG_FOR_URT_HR(CORDBG_E_INTEROP_NOT_SUPPORTED) "Interop debugging is not supported."
	MSG_FOR_URT_HR(CORDBG_E_NO_REMAP_BREAKPIONT) "Cannot call RemapFunction until have received RemapBreakpoint."
	MSG_FOR_URT_HR(CORDBG_E_OBJECT_NEUTERED) "Object is in a zombie state."
	MSG_FOR_URT_HR(CORPROF_E_FUNCTION_NOT_COMPILED) "Function not yet compiled."
	MSG_FOR_URT_HR(CORPROF_E_DATAINCOMPLETE) "The ID is not fully loaded/defined yet."
	MSG_FOR_URT_HR(CORPROF_E_FUNCTION_NOT_IL) "The Method has no associated IL."
	MSG_FOR_URT_HR(CORPROF_E_NOT_MANAGED_THREAD) "The thread has never run managed code before."
	MSG_FOR_URT_HR(CORPROF_E_CALL_ONLY_FROM_INIT) "The function may only be called during profiler initialization."
	MSG_FOR_URT_HR(CORPROF_E_NOT_YET_AVAILABLE) "Requested information is not yet available."
	MSG_FOR_URT_HR(CORPROF_E_TYPE_IS_PARAMETERIZED) "The given type is a generic and cannot be used with this method."
	MSG_FOR_URT_HR(CORPROF_E_FUNCTION_IS_PARAMETERIZED) "The given function is a generic and cannot be used with this method."
	MSG_FOR_URT_HR(CORSEC_E_POLICY_EXCEPTION) "PolicyException thrown."
	MSG_FOR_URT_HR(CORSEC_E_MIN_GRANT_FAIL) "Failed to grant minimum permission requests."
	MSG_FOR_URT_HR(CORSEC_E_NO_EXEC_PERM) "Failed to grant permission to execute."
	MSG_FOR_URT_HR(CORSEC_E_XMLSYNTAX) "XML Syntax error."
	MSG_FOR_URT_HR(CORSEC_E_INVALID_STRONGNAME) "Strong name validation failed."
	MSG_FOR_URT_HR(CORSEC_E_INVALID_IMAGE_FORMAT) "Invalid assembly file format."
	MSG_FOR_URT_HR(CORSEC_E_INVALID_PUBLICKEY) "Invalid assembly public key."
	MSG_FOR_URT_HR(CORSEC_E_SIGNATURE_MISMATCH) "Signature size mismatch."
	MSG_FOR_URT_HR(CORSEC_E_CRYPTO) "Failure during Cryptographic operation."
	MSG_FOR_URT_HR(CORSEC_E_CRYPTO_UNEX_OPER) "Unexpected Cryptographic operation."
	MSG_FOR_URT_HR(CORSECATTR_E_BAD_ACTION) "Invalid security action code."
	MSG_FOR_URT_HR(COR_E_EXCEPTION) "General Exception"
	MSG_FOR_URT_HR(COR_E_SYSTEM) "System.Exception"
	MSG_FOR_URT_HR(COR_E_ARGUMENTOUTOFRANGE) "An argument was out of its legal range."
	MSG_FOR_URT_HR(COR_E_ARRAYTYPEMISMATCH) "Attempted to store an object of the wrong type in an array."
	MSG_FOR_URT_HR(COR_E_CONTEXTMARSHAL) "Attempted to marshal an object across a context boundary."
	MSG_FOR_URT_HR(COR_E_TIMEOUT) "Operation timed out."
	MSG_FOR_URT_HR(COR_E_EXECUTIONENGINE) "Internal CLR error."
	MSG_FOR_URT_HR(COR_E_FIELDACCESS) "Access to this field is denied."
	MSG_FOR_URT_HR(COR_E_INDEXOUTOFRANGE) "Array subscript out of range."
	MSG_FOR_URT_HR(COR_E_INVALIDOPERATION) "An operation is not legal in the current state."
	MSG_FOR_URT_HR(COR_E_SECURITY) "An error relating to security occurred."
	MSG_FOR_URT_HR(COR_E_SERIALIZATION) "An error relating to serialization occurred."
	MSG_FOR_URT_HR(COR_E_VERIFICATION) "A verification failure has occurred."
	MSG_FOR_URT_HR(COR_E_METHODACCESS) "Access to this method is denied."
	MSG_FOR_URT_HR(COR_E_MISSINGFIELD) "Field does not exist."
	MSG_FOR_URT_HR(COR_E_MISSINGMEMBER) "Member does not exist."
	MSG_FOR_URT_HR(COR_E_MISSINGMETHOD) "Method does not exist."
	MSG_FOR_URT_HR(COR_E_MULTICASTNOTSUPPORTED) "Attempt to combine delegates that are not multicast."
	MSG_FOR_URT_HR(COR_E_NOTSUPPORTED) "Operation is not supported."
	MSG_FOR_URT_HR(COR_E_OVERFLOW) "Arithmetic, casting or conversion operation overflowed or underflowed."
	MSG_FOR_URT_HR(COR_E_RANK) "An array has the wrong number of dimensions for a particular operation."
	MSG_FOR_URT_HR(COR_E_SYNCHRONIZATIONLOCK) "This operation must be called from a synchronized block."
	MSG_FOR_URT_HR(COR_E_THREADINTERRUPTED) "Thread was interrupted from a waiting state."
	MSG_FOR_URT_HR(COR_E_MEMBERACCESS) "Access to this member is denied."
	MSG_FOR_URT_HR(COR_E_THREADSTATE) "Thread is in an invalid state for this operation."
	MSG_FOR_URT_HR(COR_E_THREADSTOP) "Thread is stopping."
	MSG_FOR_URT_HR(COR_E_TYPELOAD) "Could not find or load a type."
	MSG_FOR_URT_HR(COR_E_ENTRYPOINTNOTFOUND) "Could not find the specified DllImport entrypoint."
	MSG_FOR_URT_HR(COR_E_DLLNOTFOUND) "Could not find the specified DllImport Dll."
	MSG_FOR_URT_HR(COR_E_INVALIDCOMOBJECT) "An invalid __ComObject has been used."
	MSG_FOR_URT_HR(COR_E_NOTFINITENUMBER) "Not a Number."
	MSG_FOR_URT_HR(COR_E_DUPLICATEWAITOBJECT) "An object appears more than once in the wait objects array."
	MSG_FOR_URT_HR(COR_E_SEMAPHOREFULL) "Reached maximum count for semaphore."
	MSG_FOR_URT_HR(COR_E_WAITHANDLECANNOTBEOPENED) "No semaphore of the given name exists."
	MSG_FOR_URT_HR(COR_E_ABANDONEDMUTEX) "The wait completed due to an abandoned mutex."
	MSG_FOR_URT_HR(COR_E_THREADABORTED) "Thread has aborted."
	MSG_FOR_URT_HR(COR_E_INVALIDOLEVARIANTTYPE) "OLE Variant has an invalid type."
	MSG_FOR_URT_HR(COR_E_MISSINGMANIFESTRESOURCE) "An expected resource in the assembly manifest was missing."
	MSG_FOR_URT_HR(COR_E_SAFEARRAYTYPEMISMATCH) "A mismatch has occurred between the runtime type of the array and the sub type recorded in the metadata."
	MSG_FOR_URT_HR(COR_E_TYPEINITIALIZATION) "Uncaught exception during type initialization."
	MSG_FOR_URT_HR(COR_E_MARSHALDIRECTIVE) "Invalid marshaling directives."
	MSG_FOR_URT_HR(COR_E_MISSINGSATELLITEASSEMBLY) "An expected satellite assembly containing the ultimate fallback resources for a given culture was not found or could not be loaded."
	MSG_FOR_URT_HR(COR_E_FORMAT) "The format of one argument does not meet the contract of the method."
	MSG_FOR_URT_HR(COR_E_SAFEARRAYRANKMISMATCH) "A mismatch has occurred between the runtime rank of the array and the rank recorded in the metadata."
	MSG_FOR_URT_HR(COR_E_PLATFORMNOTSUPPORTED) "Operation is not supported on this platform."
	MSG_FOR_URT_HR(COR_E_INVALIDPROGRAM) "Invalid IL or CLR metadata."
	MSG_FOR_URT_HR(COR_E_OPERATIONCANCELED) "The operation was cancelled."
	MSG_FOR_URT_HR(COR_E_DATAMISALIGNED) "A datatype misalignment was detected in a load or store instruction."
	MSG_FOR_URT_HR(COR_E_CODECONTRACTFAILED) "A managed code contract (ie, precondition, postcondition, invariant, or assert) failed."
	MSG_FOR_URT_HR(COR_E_TYPEACCESS) "Access to this type is denied."
	MSG_FOR_URT_HR(COR_E_ACCESSING_CCW) "Fail to access a CCW because the corresponding managed object is already collected."
	MSG_FOR_URT_HR(COR_E_KEYNOTFOUND) "The given key was not present in the dictionary."
	MSG_FOR_URT_HR(COR_E_INSUFFICIENTEXECUTIONSTACK) "Insufficient stack to continue executing the program safely. This can happen from having too many functions on the call stack or function on the stack using too much stack space."
	MSG_FOR_URT_HR(COR_E_APPLICATION) "Application exception"
	MSG_FOR_URT_HR(COR_E_INVALIDFILTERCRITERIA) "The given filter criteria does not match the filter content."
	MSG_FOR_URT_HR(COR_E_REFLECTIONTYPELOAD) "Could not find or load a specific class that was requested through Reflection."
	MSG_FOR_URT_HR(COR_E_TARGET) "Attempt to invoke non-static method with a null Object."
	MSG_FOR_URT_HR(COR_E_TARGETINVOCATION) "Uncaught exception thrown by method called through Reflection."
	MSG_FOR_URT_HR(COR_E_CUSTOMATTRIBUTEFORMAT) "Custom attribute has invalid format."
	MSG_FOR_URT_HR(COR_E_IO) "Error during managed I/O."
	MSG_FOR_URT_HR(COR_E_FILELOAD) "Could not find or load a specific file."
	MSG_FOR_URT_HR(COR_E_OBJECTDISPOSED) "The object has already been disposed."
	MSG_FOR_URT_HR(COR_E_FAILFAST) "Runtime operation halted by call to System.Environment.FailFast()."
	MSG_FOR_URT_HR(COR_E_HOSTPROTECTION) "The host has forbidden this operation."
	MSG_FOR_URT_HR(COR_E_ILLEGAL_REENTRANCY) "Attempted to call into managed code when executing inside a low level extensibility point."
	MSG_FOR_URT_HR(CLR_E_SHIM_RUNTIMELOAD) "Failed to load the runtime."
	MSG_FOR_URT_HR(CLR_E_SHIM_LEGACYRUNTIMEALREADYBOUND) "A runtime has already been bound for legacy activation policy use."
	MSG_FOR_URT_HR(VER_E_FIELD_SIG) "[field sig]"
	MSG_FOR_URT_HR(VER_E_CIRCULAR_VAR_CONSTRAINTS) "Method parent has circular class type parameter constraints."
	MSG_FOR_URT_HR(VER_E_CIRCULAR_MVAR_CONSTRAINTS) "Method has circular method type parameter constraints."
	MSG_FOR_URT_HR(VLDTR_E_SIG_BADVOID) "Illegal 'void' in signature."
	MSG_FOR_URT_HR(VLDTR_E_GP_ILLEGAL_VARIANT_MVAR) "GenericParam is a method type parameter and must be non-variant."
	MSG_FOR_URT_HR(CORDBG_E_THREAD_NOT_SCHEDULED) "Thread is not scheduled. Thus we may not have OSThreadId, handle, or context."
	MSG_FOR_URT_HR(CORDBG_E_HANDLE_HAS_BEEN_DISPOSED) "Handle has been disposed."
	MSG_FOR_URT_HR(CORDBG_E_NONINTERCEPTABLE_EXCEPTION) "Cannot intercept this exception."
	MSG_FOR_URT_HR(CORDBG_E_INTERCEPT_FRAME_ALREADY_SET) "The intercept frame for this exception has already been set."
	MSG_FOR_URT_HR(CORDBG_E_NO_NATIVE_PATCH_AT_ADDR) "There is no native patch at the given address."
	MSG_FOR_URT_HR(CORDBG_E_MUST_BE_INTEROP_DEBUGGING) "This API is only allowed when interop debugging."
	MSG_FOR_URT_HR(CORDBG_E_NATIVE_PATCH_ALREADY_AT_ADDR) "There is already a native patch at the address."
	MSG_FOR_URT_HR(CORDBG_E_TIMEOUT) "A wait timed out, likely an indication of deadlock."
	MSG_FOR_URT_HR(CORDBG_E_CANT_CALL_ON_THIS_THREAD) "Cannot use the API on this thread."
	MSG_FOR_URT_HR(CORDBG_E_ENC_INFOLESS_METHOD) "Method was not JIT'd in EnC mode."
	MSG_FOR_URT_HR(CORDBG_E_ENC_IN_FUNCLET) "Method is in a callable handler/filter. Cannot increase stack."
	MSG_FOR_URT_HR(CORDBG_E_ENC_EDIT_NOT_SUPPORTED) "Attempt to perform unsupported edit."
	MSG_FOR_URT_HR(CORDBG_E_NOTREADY) "The LS is not in a good spot to perform the requested operation."
	MSG_FOR_URT_HR(CORDBG_E_CANNOT_RESOLVE_ASSEMBLY) "We failed to resolve assembly given an AssemblyRef token. Assembly may be not loaded yet or not a valid token."
	MSG_FOR_URT_HR(CORDBG_E_MUST_BE_IN_LOAD_MODULE) "Must be in context of LoadModule callback to perform requested operation."
	MSG_FOR_URT_HR(CORDBG_E_CANNOT_BE_ON_ATTACH) "Requested operation cannot be performed during an attach operation."
	MSG_FOR_URT_HR(CORDBG_E_NGEN_NOT_SUPPORTED) "NGEN is not supported."
	MSG_FOR_URT_HR(CORDBG_E_ILLEGAL_SHUTDOWN_ORDER) "Trying to shutdown out of order."
	MSG_FOR_URT_HR(CORDBG_E_CANNOT_DEBUG_FIBER_PROCESS) "Debugging fiber mode managed process is not supported."
	MSG_FOR_URT_HR(CORDBG_E_MUST_BE_IN_CREATE_PROCESS) "Must be in context of CreateProcess callback to perform requested operation."
	MSG_FOR_URT_HR(CORDBG_E_DETACH_FAILED_OUTSTANDING_EVALS) "All outstanding func-evals have not completed, detaching is not allowed at this time."
	MSG_FOR_URT_HR(CORDBG_E_DETACH_FAILED_OUTSTANDING_STEPPERS) "All outstanding steppers have not been closed, detaching is not allowed at this time."
	MSG_FOR_URT_HR(CORDBG_E_CANT_INTEROP_STEP_OUT) "Cannot have an ICorDebugStepper do a native step-out."
	MSG_FOR_URT_HR(CORDBG_E_DETACH_FAILED_OUTSTANDING_BREAKPOINTS) "All outstanding breakpoints have not been closed, detaching is not allowed at this time."
	MSG_FOR_URT_HR(CORDBG_E_ILLEGAL_IN_STACK_OVERFLOW) "The operation is illegal because of a stack overflow."
	MSG_FOR_URT_HR(CORDBG_E_ILLEGAL_AT_GC_UNSAFE_POINT) "The operation failed because it is a GC unsafe point."
	MSG_FOR_URT_HR(CORDBG_E_ILLEGAL_IN_PROLOG) "The operation failed because the thread is in the prolog."
	MSG_FOR_URT_HR(CORDBG_E_ILLEGAL_IN_NATIVE_CODE) "The operation failed because the thread is in native code."
	MSG_FOR_URT_HR(CORDBG_E_ILLEGAL_IN_OPTIMIZED_CODE) "The operation failed because the thread is in optimized code."
	MSG_FOR_URT_HR(CORDBG_E_APPDOMAIN_MISMATCH) "A supplied object or type belongs to the wrong AppDomain."
	MSG_FOR_URT_HR(CORDBG_E_CONTEXT_UNVAILABLE) "The thread's context is not available."
	MSG_FOR_URT_HR(CORDBG_E_UNCOMPATIBLE_PLATFORMS) "The operation failed because debuggee and debugger are on incompatible platforms."
	MSG_FOR_URT_HR(CORDBG_E_DEBUGGING_DISABLED) "The operation failed because the debugging has been disabled"
	MSG_FOR_URT_HR(CORDBG_E_DETACH_FAILED_ON_ENC) "Detach is illegal after an Edit and Continue on a module."
	MSG_FOR_URT_HR(CORDBG_E_CURRENT_EXCEPTION_IS_OUTSIDE_CURRENT_EXECUTION_SCOPE) "Cannot intercept the current exception at the specified frame."
	MSG_FOR_URT_HR(CORDBG_E_HELPER_MAY_DEADLOCK) "The debugger helper thread cannot obtain the locks it needs to perform this operation."
	MSG_FOR_URT_HR(CORDBG_E_MISSING_METADATA) "The operation failed because the debugger could not get the metadata."
	MSG_FOR_URT_HR(CORDBG_E_TARGET_INCONSISTENT) "The debuggee is in a corrupt state."
	MSG_FOR_URT_HR(CORDBG_E_DETACH_FAILED_OUTSTANDING_TARGET_RESOURCES) "Detach failed because there are outstanding resources in the target."
	MSG_FOR_URT_HR(CORDBG_E_TARGET_READONLY) "The debuggee is read-only."
	MSG_FOR_URT_HR(CORDBG_E_MISMATCHED_CORWKS_AND_DACWKS_DLLS) "The version of clr.dll in the target does not match the one mscordacwks.dll was built for."
	MSG_FOR_URT_HR(CORDBG_E_MODULE_LOADED_FROM_DISK) "Symbols are not supplied for modules loaded from disk."
	MSG_FOR_URT_HR(CORDBG_E_SYMBOLS_NOT_AVAILABLE) "The application did not supply symbols when it loaded or created this module, or they are not yet available."
	MSG_FOR_URT_HR(CORDBG_E_DEBUG_COMPONENT_MISSING) "A debug component is not installed."
	MSG_FOR_URT_HR(CORDBG_E_LIBRARY_PROVIDER_ERROR) "The ICLRDebuggingLibraryProvider callback returned an error or did not provide a valid handle."
	MSG_FOR_URT_HR(CORDBG_E_NOT_CLR) "The module at the base address indicated was not recognized as a CLR"
	MSG_FOR_URT_HR(CORDBG_E_MISSING_DATA_TARGET_INTERFACE) "The provided data target does not implement the required interfaces for this version of the runtime"
	MSG_FOR_URT_HR(CORDBG_E_UNSUPPORTED_DEBUGGING_MODEL) "This debugging model is unsupported by the specified runtime"
	MSG_FOR_URT_HR(CORDBG_E_UNSUPPORTED_FORWARD_COMPAT) "The debugger is not designed to support the version of the CLR the debuggee is using."
	MSG_FOR_URT_HR(CORDBG_E_UNSUPPORTED_VERSION_STRUCT) "The version struct has an unrecognized value for wStructVersion"
	MSG_FOR_URT_HR(CORDBG_E_READVIRTUAL_FAILURE) "A call into a ReadVirtual implementation returned failure"
	MSG_FOR_URT_HR(CORDBG_E_VALUE_POINTS_TO_FUNCTION) "The Debugging API doesn't support dereferencing function pointers."
	MSG_FOR_URT_HR(CORDBG_E_CORRUPT_OBJECT) "The address provided does not point to a valid managed object."
	MSG_FOR_URT_HR(CORDBG_E_GC_STRUCTURES_INVALID) "The GC heap structures are not in a valid state for traversal."
	MSG_FOR_URT_HR(CORDBG_E_INVALID_OPCODE) "The specified IL offset or opcode is not supported for this operation."
	MSG_FOR_URT_HR(CORDBG_E_UNSUPPORTED) "The specified action is unsupported by this version of the runtime."
	MSG_FOR_URT_HR(CORDBG_E_MISSING_DEBUGGER_EXPORTS) "The debuggee memory space does not have the expected debugging export table."
	MSG_FOR_URT_HR(CORDBG_E_DATA_TARGET_ERROR) "Failure when calling a data target method."
	MSG_FOR_URT_HR(CORDBG_E_UNSUPPORTED_DELEGATE) "The delegate contains a delegate currently not supported by the API."
	MSG_FOR_URT_HR(PEFMT_E_64BIT) "File is PE32+."
	MSG_FOR_URT_HR(PEFMT_E_32BIT) "File is PE32"
	MSG_FOR_URT_HR(CLR_E_BIND_ASSEMBLY_VERSION_TOO_LOW) "The bound assembly has a version that is lower than that of the request."
	MSG_FOR_URT_HR(CLR_E_BIND_ASSEMBLY_PUBLIC_KEY_MISMATCH) "The assembly version has a public key token that does not match that of the request."
	MSG_FOR_URT_HR(CLR_E_BIND_IMAGE_UNAVAILABLE) "The requested image was not found or is unavailable."
	MSG_FOR_URT_HR(CLR_E_BIND_UNRECOGNIZED_IDENTITY_FORMAT) "The provided identity format is not recognized."
	MSG_FOR_URT_HR(CLR_E_BIND_ASSEMBLY_NOT_FOUND) "A binding for the specified assembly name was not found."
	MSG_FOR_URT_HR(CLR_E_BIND_TYPE_NOT_FOUND) "A binding for the specified type name was not found."
	MSG_FOR_URT_HR(CLR_E_GC_OOM) "Failfast due to an OOM during a GC"
	MSG_FOR_URT_HR(CLR_E_GC_BAD_AFFINITY_CONFIG) "GCHeapAffinitizeMask or GCHeapAffinitizeRanges didn't specify any CPUs the current process is affinitized to."
	MSG_FOR_URT_HR(CLR_E_GC_BAD_AFFINITY_CONFIG_FORMAT) "GCHeapAffinitizeRanges configuration string has invalid format."
	MSG_FOR_URT_HR(CLR_E_GC_BAD_HARD_LIMIT) "GC heap hard limit configuration is invalid."
	MSG_FOR_URT_HR(CLR_E_GC_LARGE_PAGE_MISSING_HARD_LIMIT) "GC large page support requires hard limit settings."
	MSG_FOR_URT_HR(COR_E_BADIMAGEFORMAT) "The format of a DLL or executable being loaded is invalid."
END
