<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include "Variables.wxi" ?>
    <Product Id="*" Name="$(var.ProductName)" Language="$(var.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
        <Package Compressed="yes" InstallScope="perMachine" InstallerVersion="200" />

        <MajorUpgrade DowngradeErrorMessage="$(var.DowngradeErrorMessage)" Schedule="afterInstallInitialize"/>

        <MediaTemplate CompressionLevel="high" EmbedCab="yes"/>

        <Feature Id="MainFeature" Title="Main Feature" Level="1">
            <ComponentGroupRef Id="InstallFiles" />
            <ComponentGroupRef Id="AuthoredRegistryKeys"/>
            <ComponentGroupRef Id="WerRelatedKeys"/>
            <Component Id="BreadcrumbStoreFolder" Directory="BreadcrumbStore" Guid="{DA957490-EA59-42B9-B9D6-3E80F6FB0ED0}">
                <CreateFolder Directory="BreadcrumbStore">
                    <Permission
                        User="Everyone"
                        CreateChild="no"
                        CreateFile="yes"
                        Delete="no"
                        DeleteChild="no"
                        Read="yes"
                        ReadAttributes="yes"
                        ReadExtendedAttributes="yes"
                        ReadPermission="yes"
                        Traverse="yes" />
                    <Permission
                        User="SYSTEM"
                        GenericAll="yes" />
                    <Permission
                        User="Administrators"
                        GenericAll="yes" />
                </CreateFolder>
            </Component>
        </Feature>
        <Feature Id="Provider" Absent="disallow" AllowAdvertise="no" Description="Used for Ref Counting" Display="hidden" Level="1" InstallDefault="local" Title="RefCounting" TypicalDefault="install">
            <ComponentRef Id="$(var.DependencyKeyId)" />
        </Feature>

        <Property Id="MSIFASTINSTALL" Value="7" />

        <WixVariable Id="WixUILicenseRtf" Value="$(var.MicrosoftEula)" />

        <Property Id="WIXUI_INSTALLDIR" Value="DOTNETHOME"/>
        <UIRef Id="WixUI_InstallDir" />

        <CustomActionRef Id="WixBroadcastEnvironmentChange" />
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.Program_Files)">
                <Directory Id="DOTNETHOME" Name="dotnet" />
            </Directory>
            <Directory Id="CommonAppDataFolder">
              <Directory Id="MicrosoftCommonAppData" Name="Microsoft">
                <Directory Id="NetFrameworkCommonAppData" Name="NetFramework">
                  <Directory Id="BreadcrumbStore" Name="BreadcrumbStore" />
                </Directory>
              </Directory>
            </Directory>
        </Directory>
    </Fragment>
</Wix>
