<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include "..\variables.wxi" ?>

  <Product
    Id="*"
    Name="$(var.ProductName)"
    Language="$(var.ProductLanguage)"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="$(var.UpgradeCode)">

    <?include "product.common.wxi" ?>

    <Feature Id="MainFeature" Title="Main Feature" Level="1">
      <?ifdef InstallFiles ?>
        <ComponentGroupRef Id="InstallFiles" />
      <?endif?>

      <?ifdef AuthoredRegistryKeys ?>
        <ComponentGroupRef Id="AuthoredRegistryKeys"/>
      <?endif?>

      <?ifdef WerRelatedKeys ?>
        <ComponentGroupRef Id="WerRelatedKeys"/>
      <?endif?>

      <?ifdef BreadcrumbStoreFolder ?>
        <ComponentRef Id="BreadcrumbStoreFolder"/>
      <?endif?>

      <?ifdef ExtraComponentGroupRefIds ?>
        <?foreach extraComponentGroupRefId in $(var.ExtraComponentGroupRefIds)?>
          <ComponentGroupRef Id="$(var.extraComponentGroupRefId)"/>
        <?endforeach?>
      <?endif?>
    </Feature>

    <?ifdef ExtraPropertyRefIds ?>
      <?foreach extraPropertyRefId in $(var.ExtraPropertyRefIds)?>
        <PropertyRef Id="$(var.extraPropertyRefId)" />
      <?endforeach?>
    <?endif?>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.Program_Files)">
        <Directory Id="DOTNETHOME" Name="dotnet" />
      </Directory>
    </Directory>
  </Fragment>

</Wix>
