<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp3.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <Reference Include="xunit.core">
      <HintPath>#XUNIT_LOCATION#/xunit.core.dll</HintPath>
    </Reference>

    <Reference Include="xunit.assert">
      <HintPath>#XUNIT_LOCATION#/xunit.assert.dll</HintPath>
    </Reference>

    <Reference Include="CoreFx.Private.TestUtilities">
      <HintPath>#XUNIT_LOCATION#/CoreFx.Private.TestUtilities.dll</HintPath>
    </Reference>

    <Reference Include="System.Runtime.CompilerServices.Unsafe">
      <HintPath>#XUNIT_LOCATION#/System.Runtime.CompilerServices.Unsafe.dll</HintPath>
    </Reference>

    <Reference Include="Microsoft.DotNet.XUnitExtensions">
      <HintPath>#XUNIT_LOCATION#/Microsoft.DotNet.XUnitExtensions.dll</HintPath>
    </Reference>
  </ItemGroup>

  <ItemGroup>
    <Reference Include="#TEST_ASSEMBLY#">
      <HintPath>#TEST_ASSEMBLY_LOCATION#</HintPath>
    </Reference>
  </ItemGroup>
  
</Project>
