const MonoBundledSatelliteAssemblyResource %Symbol% = {
    .resource = { .type = MONO_BUNDLED_SATELLITE_ASSEMBLY },
    .satellite_assembly = { .name = "%RegisteredName%",
                            .data = %Symbol%_data,
                            .size = %Len% },
%MonoBundledSymbolData%};