const MonoBundledSatelliteAssemblyResource %ResourceName% = {
    .resource = { .type = MONO_BUNDLED_SATELLITE_ASSEMBLY },
    .satellite_assembly = { .name = "%RegisteredFilename%",
                            .data = %ResourceName%_data,
                            .size = %Len% },
%MonoBundledSymbolData%};