const MonoBundledAssemblyResource %Symbol% = {
    .resource = { .type = MONO_BUNDLED_ASSEMBLY },
    .assembly = { .name = "%RegisteredName%",
                  .data = %Symbol%_data,
                  .size = %Len% },
%MonoBundledSymbolData%};