.assembly IMG
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-right: 4px;
	vertical-align: middle;
}

.assembly, .assembly_collapsed,
.namespace, .namespace_collapsed,
.class, .class_collapsed,
.method, .property, .event, .constructor, .field
{
	FONT: 10px 'Verdana';
	margin-left: 20px;
}

.assembly_collapsed .namespace,
.assembly_collapsed .namespace_collapsed,
.namespace_collapsed .class,
.namespace_collapsed .class_collapsed,
.class_collapsed .method,
.class_collapsed .property,
.class_collapsed .event,
.class_collapsed .constructor,
.class_collapsed .field
{
	display: none;
}

.toggle
{
	cursor: pointer;
	margin-right: 8px;
}

.filter
{
	cursor: pointer;
	vertical-align: middle;
}


.status
{
	margin-left: 10px;
	float: right;
	width: 50;
}

.name
{
	cursor: pointer;
}
