.y IMG
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-right: 4px;
	vertical-align: middle;
}

.y, .y_,
.n, .n_,
.c, .c_,
.s, .s_,
.d, .d_,
.i, .i_,
.en, .en_,
.m, .p, .e, .c, .f, .x
{
	FONT: 10px 'Verdana';
	margin-left: 20px;
}

.y_ .n,
.y_ .n_,
.n_ .c,
.n_ .c_,
.n_ .s,
.n_ .s_,
.n_ .d,
.n_ .d_,
.n_ .en,
.n_ .en_,
.n_ .i,
.n_ .i_,
.c_ .m,
.c_ .p,
.c_ .e,
.c_ .c,
.c_ .f,
.c_ .x,
.s_ .m,
.s_ .p,
.s_ .e,
.s_ .c,
.s_ .f,
.s_ .x,
.d_ .m,
.d_ .p,
.d_ .e,
.d_ .c,
.d_ .f,
.d_ .x,
.en_ .m,
.en_ .p,
.en_ .e,
.en_ .c,
.en_ .f,
.en_ .x,
.i_ .m,
.i_ .p,
.i_ .e,
.i_ .c,
.i_ .f,
.i_ .x
{
	display: none;
}

.t
{
	cursor: pointer;
	margin-right: 8px;
}

.filter
{
	cursor: pointer;
	vertical-align: middle;
}


.st
{
	margin-left: 20px;
}

.l
{
	cursor: pointer;
}
