<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:swid="http://schemas.microsoft.com/wix/TagExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include "Variables.wxi" ?>

  <Bundle Name="$(var.ProductName)" Manufacturer="$(var.Manufacturer)"
          Version="$(var.DisplayVersion)" UpgradeCode="$(var.UpgradeCode)"
          AboutUrl="https://dot.net/core"
          Compressed="yes">
    
    <bal:Condition
     Message="#(loc.FailureNotSupportedCurrentOperatingSystem)">
    ((VersionNT &gt; v6.1) OR (VersionNT = v6.1 AND ServicePackLevel &gt;= 1))
    </bal:Condition>

    <?if $(var.Platform)=x64?>
     <bal:Condition
      Message="#(loc.FailureNotSupportedX86OperatingSystem)">
       VersionNT64
     </bal:Condition>
    <?endif?>

    <!-- ***** When the product-band version: "3.0" advances, remove this section ***** -->
    <?if $(var.ProductBandVersion)=3.0?>
      <?if $(var.Platform)~=x86?>
        <!-- ".NET Core 3.0.0 Preview 1" 3.0.0-preview-27122-01-win-x86 upgrade-code -->
        <RelatedBundle Action="Upgrade" Id="{138DC905-5BB8-5C92-2BB2-CEEC57FD4912}"/>
        <!-- ".NET Core 3.0.0 Preview 2" 3.0.0-preview-27324-5-win-x86 upgrade-code -->
        <RelatedBundle Action="Upgrade" Id="{2210ACC2-5EA6-4707-01F8-B064B94BB1C8}"/>
        <!-- ".NET Core 3.0.0 Preview 3" 3.0.0-preview3-27503-5-win-x86 upgrade-code -->
        <RelatedBundle Action="Upgrade" Id="{8F802AA7-56BF-69E8-8E15-BE8FF8347CF7}"/>
      <?endif?>
      <?if $(var.Platform)~=x64?>
        <!-- ".NET Core 3.0.0 Preview 1" 3.0.0-preview-27122-01-win-x64 upgrade-code -->
        <RelatedBundle Action="Upgrade" Id="{C98F9B17-536C-711E-5B31-ADA492F8B956}"/>
        <!-- ".NET Core 3.0.0 Preview 2" 3.0.0-preview-27324-5-win-x64 upgrade-code -->
        <RelatedBundle Action="Upgrade" Id="{E5F8505A-5282-7C15-4388-83FB730DCC13}"/>
        <!-- ".NET Core 3.0.0 Preview 3" 3.0.0-preview3-27503-5-win-x64 upgrade-code -->
        <RelatedBundle Action="Upgrade" Id="{31F12178-5807-40A5-6799-2C9C47725A5E}"/>
      <?endif?>
    <?endif?>
    <!-- ********************************************************************************** -->
    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.Foundation">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="..\..\windows\sharedframework\dummyEula.rtf"
        ShowFilesInUse="yes"
        ShowVersion="yes"
        />

      <PayloadGroupRef Id="DotnetCoreBAPayloads" />
    </BootstrapperApplicationRef>

    <swid:Tag Regid="microsoft.com" InstallPath="[DOTNETHOME]" />

    <Variable Name="DOTNETHOME" Type="string" Value="[$(var.Program_Files)]dotnet" bal:Overridable="no" />

    <!-- Variables used solely for localization. -->
    <Variable Name="BUNDLEMONIKER" Type="string" Value="$(var.ProductMoniker) ($(var.TargetArchitecture))" bal:Overridable="no" />
    <Variable Name="PRODUCT_NAME" Type="string" Value="$(var.ProductName)" bal:Overridable="no" />
    <Variable Name="LINK_PREREQ_PAGE" Type="string" Value="$(var.Link_PreReqPage)" bal:Overridable="no" />

    <Chain DisableSystemRestore="yes" ParallelCache="yes">
      <MsiPackage SourceFile="$(var.SharedFXMsiSourcePath)">
        <MsiProperty Name="DOTNETHOME" Value="[DOTNETHOME]" />
      </MsiPackage>
      <MsiPackage SourceFile="$(var.HostFxrMsiSourcePath)">
        <MsiProperty Name="DOTNETHOME" Value="[DOTNETHOME]" />
      </MsiPackage>
      <MsiPackage SourceFile="$(var.SharedHostMsiSourcePath)">
        <MsiProperty Name="DOTNETHOME" Value="[DOTNETHOME]" />
      </MsiPackage>
    </Chain>
  </Bundle>

  <Fragment>
    <PayloadGroup Id="DotnetCoreBAPayloads">
      <Payload Name="thm.xml" Compressed="yes" SourceFile="bundle.thm" />
      <Payload Name="thm.wxl" Compressed="yes" SourceFile="bundle.wxl" />

      <Payload Name="bg.png" Compressed="yes" SourceFile="..\..\osx\sharedframework\resources\dotnetbackground.png" />

      <?foreach LCID in $(var.LcidList)?>
        <Payload Id="thm-$(var.LCID)" Compressed="yes" Name="$(var.LCID)\thm.wxl" SourceFile="theme\$(var.LCID)\bundle.wxl" />
      <?endforeach?>

      <Payload Name='eula.rtf' Compressed='yes' SourceFile='!(wix.WixStdbaLicenseRtf)' />
    </PayloadGroup>

    <CustomTable Id='WixStdbaInformation'>
        <Row>
            <Data Column='LicenseFile'>eula.rtf</Data>
        </Row>
    </CustomTable>
  </Fragment>

</Wix>
