### Code Style Analyzers

[*.cs]
# IDE0005: Remove unnecessary usings/imports
dotnet_diagnostic.IDE0005.severity = error

# IDE0073: Require file header
dotnet_diagnostic.IDE0073.severity = warning

# IL3000: Avoid accessing Assembly file path when publishing as a single file
dotnet_diagnostic.IL3000.severity = suggestion

# CS0176: Cannot be accessed with an instance ref
dotnet_diagnostic.CS0176.severity = silent
