/
/depcomp
/config.guess
/config.sub
/ltmain.sh
/eglib-*.tar.gz
/missing
/install-sh
/compile
/Makefile
/Makefile.in
/stamp-h1
/config.h.in
/libtool
/autom4te.cache
/aclocal.m4
/config.log
/configure
/config.h
/config.status
/INSTALL
