{
  "dependencies": {
    "Microsoft.Private.CoreFx.NETCoreApp": "4.4.0-beta-25129-02",
    "transport.Microsoft.NETCore.Runtime.CoreCLR": "2.0.0-beta-25129-03",
    "Microsoft.DiaSymReader.Native": "1.4.0",
    "Microsoft.NETCore.Platforms": "2.0.0-beta-25129-02",
    "NETStandard.Library": "2.0.0-beta-25129-01"
  },
  "frameworks": {
    "netcoreapp2.0": {}
  },
  "runtimes": {
    "{RID}": {}
  }
}
