{
  "dependencies": {
    "Microsoft.Private.CoreFx.NETCoreApp": "4.4.0-preview1-25221-02",
    "transport.Microsoft.NETCore.Runtime.CoreCLR": "2.0.0-preview1-25221-02",
    "Microsoft.DiaSymReader.Native": "1.4.1",
    "Microsoft.NETCore.Platforms": "2.0.0-preview1-25221-02",
    "NETStandard.Library": "2.0.0-preview1-25221-01"
  },
  "frameworks": {
    "netcoreapp2.0": {}
  },
  "runtimes": {
    "{RID}": {}
  }
}
