<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:dep="http://schemas.microsoft.com/wix/DependencyExtension">
  <?include "Variables.wxi" ?>
  <Fragment>
    <Component Id="$(var.DependencyKeyId)" Directory="TARGETDIR" Win64="no" Guid="117B1755-5027-4257-A1A9-7C37D81C3D5F">
      <dep:Provides Key="$(var.DependencyKey)" />
    </Component>
  </Fragment>
</Wix>