<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include "Variables.wxi" ?>
    <Product Id="*" Name="$(var.ProductName)" Language="$(var.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
        <Package Compressed="yes" InstallScope="perMachine" InstallerVersion="200" />

        <MajorUpgrade DowngradeErrorMessage="$(var.DowngradeErrorMessage)" Schedule="afterInstallInitialize"/>

        <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

        <Feature Id="MainFeature" Title="Main Feature" Level="1">
            <ComponentGroupRef Id="InstallSharedHostandDetectionKeys" />
        </Feature>
        <Feature Id="Provider" Absent="disallow" AllowAdvertise="no" Description="Used for Ref Counting" Display="hidden" Level="1" InstallDefault="local" Title="RefCounting" TypicalDefault="install">
            <ComponentRef Id="$(var.DependencyKeyId)" />
        </Feature>
        <Property Id="ProductCPU" Value="$(var.Platform)" />
        <Property Id="RTM_ProductVersion" Value="$(var.Dotnet_ProductVersion)" />

        <Property Id="MSIFASTINSTALL" Value="7" />

        <WixVariable Id="WixUILicenseRtf" Value="$(var.MicrosoftEula)" />

        <Property Id="WIXUI_INSTALLDIR" Value="DOTNETHOME"/>
        <UIRef Id="WixUI_InstallDir" />

        <CustomActionRef Id="WixBroadcastEnvironmentChange" />
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.Program_Files)">
                <Directory Id="DOTNETHOME" Name="dotnet"/>
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="InstallSharedHostandDetectionKeys">
            <Component Id="cmpCoreHost" Directory="DOTNETHOME" Guid="{45399BBB-DDA5-4386-A2E9-618FB3C54A18}" >
                <File Id="fileCoreHostExe" KeyPath="yes" Source="$(var.HostSrc)\dotnet.exe" />
                <RegistryKey Root="HKLM" Key="SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)\sharedhost">
                  <RegistryValue Action="write" Name="Version" Type="string" Value="$(var.NugetVersion)"/>
                </RegistryKey>
                <Environment Id="E_PATH" Name="PATH" Value="[DOTNETHOME]" Part="last" Action="set" System="yes" />
            </Component>
            <Component Id="cmpLicenseFiles" Directory="DOTNETHOME" Guid="{A61CBE5B-1282-4F29-90AD-63597AA2372E}">
                <File Id="fileLicenseTxt" KeyPath="yes" Source="$(var.HostSrc)\LICENSE.txt" />
                <File Id="fileThirdPartyNoticesTxt" Source="$(var.HostSrc)\ThirdPartyNotices.txt" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
